// В этом файле должны быть стили для БЭМ-блока worksteps, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.worksteps {
  overflow: hidden;
  padding: 0 10px;

  &__inner {
    @include row();
  }

  &__item {
    @include col(xs, 12);
    @include col(sm, 6);
    @include col(md, 4);
    @include col(lg, 2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    position: relative;
    max-width: 200px;
    width: 100%;

    @media screen and (max-width: $screen-sm - 1) {
      height: 150px;
    }
    @media screen and (min-width: $screen-md) {
      padding-top: 80%;
    }

    img {
      max-width: 100%;
      max-height: 100%;
 
      @media screen and (min-width: $screen-md) {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #66a1c7;
    min-height: 72px;
    text-transform: uppercase;
    margin-bottom: $layout-vertical-line-height;
    font-size: $font-size;
    line-height: (18 / 15);
  }

  &__text {
    min-height: $layout-vertical-line-height * 3;
    font-size: $font-size-6;
    line-height: (15 / 12);
  }
}
