//- Все примеси в этом файле должны начинаться c имени блока (worksteps)

mixin worksteps(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +worksteps('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' worksteps--' + modsList[i].trim();
      }
    }

  .worksteps(class=allMods)&attributes(attributes)
    .worksteps__inner
      .worksteps__item
        .worksteps__img
          img(src="img/steps-work-1.png", alt="Звонок заявка")
        .worksteps__title Звонок заявка
        .worksteps__text Палитра красок – от чисто белого до удивительных гармоничных сочетаний голубых, зеленых
      .worksteps__item
        .worksteps__img
          img(src="img/steps-work-2.png", alt="Вызов замерщика")
        .worksteps__title Вызов замерщика моделирование
        .worksteps__text Палитра красок – от чисто белого до удивительных гармоничных сочетаний голубых, зеленых
      .worksteps__item
        .worksteps__img
          img(src="img/steps-work-3.png", alt="Договор оплата")
        .worksteps__title Договор оплата
        .worksteps__text Палитра красок – от чисто белого до удивительных гармоничных сочетаний голубых, зеленых
      .worksteps__item
        .worksteps__img
          img(src="img/steps-work-4.png", alt="Изготовление")
        .worksteps__title Изготовление
        .worksteps__text Палитра красок – от чисто белого до удивительных гармоничных сочетаний голубых, зеленых
      .worksteps__item
        .worksteps__img
          img(src="img/steps-work-5.png", alt="Доставка и монтаж")
        .worksteps__title Доставка и монтаж
        .worksteps__text Палитра красок – от чисто белого до удивительных гармоничных сочетаний голубых, зеленых
      .worksteps__item
        .worksteps__img
          img(src="img/steps-work-6.png", alt="Гарантийное обслуживание")
        .worksteps__title Гарантийное пост-гарантийное обслуживание
        .worksteps__text Палитра красок – от чисто белого до удивительных гармоничных сочетаний голубых, зеленых
      
      block
