// В этом файле должны быть стили для БЭМ-блока worksteps, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.worksteps {
  overflow: hidden;

  &__inner {
    @include row();
  }

  &__item {
    @include col();
    @include col(md, 2);
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &__img {
    margin-bottom: $layout-vertical-line-height * 2;
    padding-top: 102%;
    position: relative;

    img {
      max-height: 100%;
      max-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #66a1c7;
    min-height: 72px;
    text-transform: uppercase;
    margin-bottom: $layout-vertical-line-height;
    font-size: $font-size;
    line-height: (18 / 15);
  }

  &__text {
    min-height: $layout-vertical-line-height * 3;
    font-size: $font-size-6;
    line-height: (15 / 12);
  }
}
