-
  var mainMenu = [
    {
      "id": "0",
      "name": "Материалы",
      "url": "/materials"
    },
    {
      "id": "10",
      "name": "Изделия",
      "url": "/products",
      "childs": [
        {
          "id": "10-0",
          "name": "Кухонные столешницы",
          "url": "pages/some"
        },
        {
          "id": "10-10",
          "name": "Столешницы для ванной комнаты",
          "url": "pages/some",
          //- "childs": [
          //-   {
          //-     "id": "10-10-0",
          //-     "name": "Вёрстка",
          //-     "url": "pages/some/some"
          //-   },
          //-   {
          //-     "id": "10-10-10",
          //-     "name": "Стриптиз",
          //-     "url": "pages/some/some"
          //-   }
          //- ]
        },
        {
          "id": "10-20",
          "name": "Подоконники",
          "url": "pages/some"
        },
        {
          "id": "10-20",
          "name": "Ступени",
          "url": "pages/some"
        },
        {
          "id": "10-20",
          "name": "Столы",
          "url": "pages/some"
        },
        {
          "id": "10-20",
          "name": "Душевые поддоны",
          "url": "pages/some"
        },
        {
          "id": "10-20",
          "name": "Барные стойки",
          "url": "pages/some"
        },
        {
          "id": "10-20",
          "name": "Сопутствующие товары",
          "url": "pages/some"
        },
      ]
    },
    {
      "id": "20",
      "name": "О компании",
      "url": "/about"
    },
    {
      "id": "30",
      "name": "Партнёрам",
      "url": "/partners"
    },
    {
      "id": "30",
      "name": "Контакты",
      "url": "/contacts"
    },
  ];
