//- Все примеси в этом файле должны начинаться c имени блока (fabrics)

mixin fabrics(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +fabrics('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' fabrics--' + modsList[i].trim();
      }
    }

  .fabrics(class=allMods)&attributes(attributes)
    .fabrics__inner
      .js-fabrics-logo.fabrics-logo(data-slick='{"slidesToShow": 8, "slidesToScroll": 1,"responsive": [{ "breakpoint": 768, "settings": {"slidesToShow": 3,"infinite": true}}]}')
        .fabrics-logo__item
          img(src="img/fabric-1.png", alt="")
        .fabrics-logo__item
          img(src="img/fabric-2.png", alt="")
        .fabrics-logo__item
          img(src="img/fabric-3.png", alt="")
        .fabrics-logo__item
          img(src="img/fabric-4.png", alt="")
        .fabrics-logo__item
          img(src="img/fabric-5.png", alt="")
        .fabrics-logo__item
          img(src="img/fabric-6.png", alt="")
        .fabrics-logo__item
          img(src="img/fabric-7.png", alt="")
        .fabrics-logo__item
          img(src="img/fabric-8.png", alt="")
        .fabrics-logo__item
          img(src="img/fabric-1.png", alt="")
        .fabrics-logo__item
          img(src="img/fabric-2.png", alt="")

      block
