// В этом файле должны быть стили для БЭМ-блока breadcrumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.breadcrumbs {
  list-style: none;
  margin-top: $layout-vertical-line-height * 2;
  margin-bottom: $layout-vertical-line-height * 2;
  padding: 0;
  color: #223a7a;
  font-size: $font-size-5;
  font-weight: bold;
  line-height: (13 / 14);
  // @include col(md, 7);
  // @include col-offset(md, 5);

  a {
    color: #999999;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $text-color;
      text-decoration: none;
    }
  }

  &__item {
    display: inline-block;
    margin-right: 0.6em;
    white-space: nowrap;

    &:not(:last-child):after {
      content: '/';
      display: inline-block;
      margin-left: 0.8em;
      color: $gray;
    }
  }
}
