// В этом файле должны быть стили для БЭМ-блока products-list, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.products-list {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    column-gap: 20px;
    column-fill: initial;

    @media (min-width: $screen-md) {
      column-count: 3;
    }

    @media (min-width: $screen-lg) {
      column-count: 4;
    }
  }

  &__item {
    // margin-bottom: 30px;
    display: inline-block;
    width: 100%;
    vertical-align: top;

    .card {
      &__img {

        @media (max-width: $screen-md - 1) {
          max-height: 224px;
        }
      }
    }
  }
}
