@mixin hide-text {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin pt-to-px($pt, $ptl) {
  font-size: ($pt / 0.75)+px;
  @if ($ptl != false) {
    line-height: (($ptl / 0.75) / ($pt / 0.75));
  }
}
