//- Все примеси в этом файле должны начинаться c имени блока (awards)

mixin awards(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +awards('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' awards--' + modsList[i].trim();
      }
    }

  .awards(class=allMods)&attributes(attributes)
    .awards__inner(data-simplebar)
      .awards__item
        a.awards__img(data-fancybox="gallery" href="img/sert-7.jpg")
          img(src="img/sert-7-1.jpg", alt="")
      .awards__item
        a.awards__img(data-fancybox="gallery" href="img/sert-8.jpg")
          img(src="img/sert-8-1.jpg", alt="")
      .awards__item
        a.awards__img(data-fancybox="gallery" href="img/sert-9.jpg")
          img(src="img/sert-9-1.jpg", alt="")
      .awards__item
        a.awards__img(data-fancybox="gallery" href="img/sert-7.jpg")
          img(src="img/sert-7-1.jpg", alt="")
      .awards__item
        a.awards__img(data-fancybox="gallery" href="img/sert-8.jpg")
          img(src="img/sert-8-1.jpg", alt="")
      .awards__item
        a.awards__img(data-fancybox="gallery" href="img/sert-9.jpg")
          img(src="img/sert-9-1.jpg", alt="")
      .awards__item
        a.awards__img(data-fancybox="gallery" href="img/sert-7.jpg")
          img(src="img/sert-7-1.jpg", alt="")
      .awards__item
        a.awards__img(data-fancybox="gallery" href="img/sert-8.jpg")
          img(src="img/sert-8-1.jpg", alt="")
      .awards__item
        a.awards__img(data-fancybox="gallery" href="img/sert-9.jpg")
          img(src="img/sert-9-1.jpg", alt="")
      .awards__item
        a.awards__img(data-fancybox="gallery" href="img/sert-7.jpg")
          img(src="img/sert-7-1.jpg", alt="")
      .awards__item
        a.awards__img(data-fancybox="gallery" href="img/sert-8.jpg")
          img(src="img/sert-8-1.jpg", alt="")
      .awards__item
        a.awards__img(data-fancybox="gallery" href="img/sert-9.jpg")
          img(src="img/sert-9-1.jpg", alt="")

      block
