// В этом файле должны быть стили для БЭМ-блока awards, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.awards {
  overflow: hidden;
  position: relative;

  &__inner {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    
    .simplebar-content {
      display: flex;
    }
  }

  &__item {
    width: 140px;
    flex: 0 0 140px;
    height: 198px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__img {
    img {
      vertical-align: top;
    }
  }
}
