// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$blue: #66a1c7;
$blue-dark: #223a7a;
$blue-light: #d1e3ee;

.btn {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  margin: 0;
  border-radius: $border-radius;
  // border: 1px solid $gray-lighter;
  border: 0;
  padding: $field-padding-vertical 34px;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  text-align: center;
  font-size: $font-size-6;
  font-family: inherit;
  font-weight: bold;
  line-height: (18 / 12);
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #333;
  background-image: none;
  box-shadow: -6px 7px 8px 0 rgba(0,0,0,.35);
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;
    background-color: #223a7a;
    // border-color: darken($gray-lighter, 12%);
  }

  // &:visited {
  //   color: $text-color;
  // }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    // border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }

  &--sm {
    font-size: $font-size-6;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  &--lg {
    font-size: $font-size-3;
    font-weight: normal;
    line-height: 1;
    text-transform: uppercase;
    padding: 27px 32px;
    box-shadow: -6px 7px 8px 0 rgba(0,0,0,.35);
  }

  &--wide {
    max-width: 300px;
    width: 100%;
  }

  &--blue-light {
    background-color: $blue-light;
    color: #223a7a;

    &:hover {
      background-color: $blue-dark;
      color: $white;
    }
  }

  &--blue {
    background-color: $blue;
    color: #223a7a;

    &:hover {
      background-color: $blue-dark;
      color: $white;
    }
  }

  &--blue-dark {
    background-color: $blue-dark;
    color: $white;

    &:hover {
      background-color: #333;
    }
  }

  &--grey-dark {
    background-color: #333333;
    color: $white;
  }

  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   // border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     // border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     // border-color: $color-main;
  //   }
  // }
}
