//- Все примеси в этом файле должны начинаться c имени блока (product-detail)

mixin product-detail(data, mods)

  //- Принимает:
  //-   data    {object} - набор свойств
  //-   data.imgTypeView {string} - тип слайдера
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +product-detail('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-detail--' + modsList[i].trim();
      }
    }

  .product-detail(class=allMods)&attributes(attributes)
    .product-detail__inner
      if data.imgTypeView == 'slider'
        .product-detail__slider
          +product-slider()
      
      if data.imgTypeView == 'gallery' 
        .product-detail__gallery
          +product-gallery()

      block

mixin product-slider(data, mods)
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-detail--' + modsList[i].trim();
      }
    }

  .js-slider.slider
    .slider__item
      //- if data.lazy === true
      //- img(data-lazy="https://picsum.photos/1260/522/?image=1062", alt="")
      //- else
      //-   img(src="https://picsum.photos/1260/522/?image=1062", alt="")
      img(src="https://picsum.photos/1260/522/?image=1062", alt="")
    .slider__item
      //- if data.lazy === true
      //-   img(data-lazy="https://picsum.photos/1260/522/?image=1024", alt="")
      //- else
      //-   img(src="https://picsum.photos/1260/522/?image=1024", alt="")
      img(src="https://picsum.photos/1260/522/?image=1024", alt="")
    .slider__item
      //- if data.lazy === true
      //-   img(data-lazy="https://picsum.photos/1260/522/?image=1027", alt="")
      //- else
      //-   img(src="https://picsum.photos/1260/522/?image=1027", alt="")
      img(src="https://picsum.photos/1260/522/?image=1027", alt="")

mixin product-gallery(data, mods)
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-detail--' + modsList[i].trim();
      }
    }

  .js-gallery.gallery.slider-pro
    .sp-slides
      .sp-slide
        img(src="https://picsum.photos/1260/612?image=961", alt="").sp-image
      .sp-slide
        img(src="https://picsum.photos/1260/612?image=942", alt="").sp-image
    .sp-thumbnails
      .sp-thumbnail
        img(src="https://picsum.photos/140/72?image=961", alt="")
      .sp-thumbnail
        img(src="https://picsum.photos/140/72?image=942", alt="")


mixin product-desc(data, mods)
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-detail--' + modsList[i].trim();
      }
    }

  .product-desc
    h4.product-desc__title Характеристики:
    .product-desc__list
        ul
            li.js-product-material #[b Материал:] #[span Лабрадорит]
            li.js-product-format #[b Формат:] #[span Сдэб]
            li.js-product-processing #[b Обработка:] #[span Полированная]
            li.js-product-color #[b Цвет:] #[span Синий]
            li.js-product-size #[b Размер (мм):] #[span 3050x1440]
            li.js-product-depth #[b Толщина:] #[span 12, 20, 30]
            li.js-product-country #[b Страна:] #[span Италия]
            li.js-product-brand #[b Бренд:] #[span TECHNISTONE]
    h4.product-desc__title О камне:
    .js-product-desc.product-desc__text
        p #[b Labrador Multicolor] – гранит итальянского происхождения с идеальной зеркальной полировкой.
        p Поверхность минерала темно-зеленая настолько, что кажется черной. Украшение камня – многочисленные серебристые вкрапления, формирующие монотонный, насыщенный узор. Укладка плитки и гранита #[b Labrador Multicolor] – не составит проблемы.
        p Колоритны подоконники и столешницы из гранита #[b Labrador Multicolor] в классических интерьерных решениях. Используется данный камень в составе художественных панно.
    
    if (typeof(data) !== 'undefined' && data.typeBtn === 'btn')
      a.btn.btn--wide.btn--blue-dark(href="javascript:void(0);") Оставить заявку
    else
      a.product-desc__more-link(href="javascript:void(0);") #[b Подробнее]
