@import "../variables.scss";
@import "../mixins.scss";

body {
    font-family: Verdana;
}

// BLOCKS
@import "../../blocks/advantages/advantages.scss";


.lp-advantage {
    @include row();
    justify-content: center;

    &--six {
        .lp-advantage__item {
            @media (min-width: $screen-lg) {
                @include width(6);
            }
        }
    }

    &__item {
        text-align: center;
        
        @media (min-width: $screen-lg) {
            @include width(5);
        }
    }

    &__title {
        font-size: 13px;
        
        span {
            display: block;
            color: #223A7A;
            text-transform: uppercase;
        }
    }
}

.lp-materials {
    @include row();

    &__item {
        @include make-col(12);

        @media (min-width: $screen-sm) {
            @include make-col(6);
        }

        @media (min-width: $screen-lg) {
            @include make-col(2);
        }
            // @media (min-width: $screen-lg) {
            //     @include make-col(2);
            // }

        // &:first-child {
        //     @media (min-width: $screen-lg - 1) {
        //         @include make-col(2);
        //     }
        // }
    }
}

.form-request {
    background: #FFFFFF;
    border: 1px solid #939598;
    box-shadow: -6px 7px 8px rgba(0, 0, 0, 0.35);
    padding: 20px;

    .form__fieldset {
        margin-bottom: 0;
    }
    .field-actions {
        margin-top: 0;
    }

    &__img {
        height: 100%;
        position: relative;
        overflow: hidden;

        img {    
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%)
        }
    }
    
    &__holder {}

    &__title {
        font-family: Verdana;
        font-size: 40px;
        line-height: (48 / 40); 
        font-weight: 600;
        text-transform: uppercase;
        color: #223A7A;
    }

    &__subtitle {
        font-size: $font-size-3;
        line-height: (36 / 18); 
        text-transform: uppercase;
        margin-bottom: $layout-vertical-line-height;
    }
}