@import "../variables.scss";
@import "../mixins.scss";

// LIBS
@import "../libs/slick.scss";
@import "../libs/jquery.fancybox.min.scss";

body {
    font-family: Verdana;
}

// BLOCKS
@import "../../blocks/advantages/advantages.scss";

// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority


.main-nav-lp {
  
    @media (min-width: $screen-lg) {
      &:not(&--vertical) {
        padding-top: $layout-vertical-line-height;
      }
    }
  
    @media (max-width: ($menu-desktop-width - 1)) {
      position: fixed;
      background-color: rgba(34, 58, 122, 0);
      top: 0;
      left: 0;
      z-index: 10;
      @include get-width(10);
      width: 100%;
    }
  
    &--open {
      @media (max-width: ($menu-desktop-width - 1)) {
        height: 100%;
        background-color: rgba(34, 58, 122, 1);
        box-shadow: 6px 7px 8px 0 rgba(0, 0, 0, 0.12);
        // transition: background-color 0.6s;
      }
    }
    
    // первый уровень
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      
      @media (min-width: ($menu-desktop-width)) {
        @include row();
      }
  
    
      // мобильный вид списка
      @media (max-width: ($menu-desktop-width - 1)) {
  
        // открытие/закрытие меню только в случае работающего JS
        flex-direction: column;
        height: calc(100% - 70px);
        
  
        .js & {
          max-height: 0;
          // overflow: hidden;
          overflow-y: auto;
          transition: max-height 0.2s;
        }
  
        .js .main-nav-lp--open & {
          max-height: 100vh;
          transition: max-height 0.6s;
        }
  
        // &:not(&--lvl-2) {
          padding: 0 $layout-vertical-line-height / 2;
        // }
      }
  
      // настольный вид списка
      @media (min-width: $menu-desktop-width) {
        display: flex;
        flex-wrap: wrap;
      }
    }
  
    &__item {
      position: relative;
      
      &--has-child {
        z-index: 1;
      }
  
    //   &:not(&--lvl-2) {
        @media (max-width: ($menu-desktop-width - 1)) {
          margin-bottom: 9px;
        }
        @media (min-width: ($menu-desktop-width)) {
          @include width(5);
        }
    //   }
  
      &:first-child {
        flex: 1;
        margin-right: auto;
        align-self: center;
        text-align: center;

        span {
            font-size: 15px;
            font-weight: bold;
            line-height: (18 / 15);
        }

        a {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
      &:last-child {
        a {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
  
      &--active {
  
        & > .main-nav-lp__link { // stylelint-disable-line  selector-combinator-blacklist
          color: #223a7a;
          background-color: #fff;
          // rgba(102, 161, 199, 0.3)
          box-shadow: inset 0 0 0 3px rgba(34, 58, 122, 0.5), inset 3.5px 6px 7px 0 rgba(34, 58, 122, 0.15), -6px 7px 8px 0 rgba(0, 0, 0, 0.35);
        }
      }
  
      &:hover {
        z-index: 1;
      }
    }
  
    &__link {
      display: block;
      padding: 1em 15px;
      text-decoration: none;
      text-align: center;
      border-radius: 5px;
      color: #fff;
      font-size: 13px;
      line-height: 1;
      text-transform: uppercase;
  
      
  
      @media (min-width: $menu-desktop-width) {
        color: #223a7a;
        font-size: $font-size-3;
  
        // &:not(&--lvl-2) {
        //   color: #223a7a;
        // }
      }
  
      &:hover,
      &:focus {
        text-decoration: none;
        // background-color: #fff;
        // box-shadow: inset 0 0 0 3px rgba(34, 58, 122, 0.5), inset 3.5px 6px 7px 0 rgba(34, 58, 122, 0.15), -6px 7px 8px 0 rgba(0, 0, 0, 0.35);
      }
    }
  
    // переключатель
    &__toggler {
      display: inline-block;
      border: none;
      padding: 0;
      background: none;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.5);
  
      &.burger--close {
        background-color: rgba(255, 255, 255, 0);
      }
  
      @media (min-width: $menu-desktop-width) {
        display: none;
      }
  
      .no-js & {
        display: none;
      }
    }
}
  
.lp-banner {
    background: url('../img/lp-banner-bg.png') no-repeat center center / cover;
    color: #FFFFFF;
    text-align: center;
    margin-top: -19px;

    &__inner {
        padding: $layout-vertical-line-height * 6 10px $layout-vertical-line-height * 4;
        background-color: rgba(0,0,0, 0.6);
        min-height: 432px;
    }

    &__title {
        font-size: 40px;
        line-height: (73 / 60);
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 0;

        @media (min-width: $screen-sm) {
            font-size: 60px;
        }
    }

    &__subtitle {
        font-size: 27px;
        font-weight: bold;
        line-height: (32 / 27);
        padding: 11px 0;
        text-transform: uppercase;
        margin-bottom: $layout-vertical-line-height;
    }

    &__notice {
        font-size: 15px;
        line-height: (19 / 15);
    }

    .btn {
        margin-top: $layout-vertical-line-height * 3;
    }
}

.about-box {
    @include row();

    &__images {
        // @include make-col(7);
        @include col(xs, 12);
        @include col(lg, 7);
        overflow: hidden;
    }

    &__images-inner {
        @include row();
    }

    &__img {
        padding: 0 10px;
        @include width(3);
    }

    &__text {
        // @include make-col(5);
        @include col(xs, 12);
        @include col(lg, 5);
        padding-top: $layout-vertical-line-height * 2;

        @media (min-width: $screen-lg) {
            padding-top: 0;
        }
    }
}

.lp-advantage {
    @include row();
    justify-content: center;

    &--six {
        .lp-advantage__item {
            @media (min-width: $screen-lg) {
                @include width(6);
            }
        }
    }

    &__item {
        text-align: center;
        @include col(xs, 6);
        margin-bottom: 20px;

        @media (min-width: $screen-sm) {
            @include width(2);
        }

        @media (min-width: $screen-md) {
            @include width(3);
        }
        
        @media (min-width: $screen-lg) {
            @include width(5);
        }
    }

    &__title {
        font-size: 13px;
        line-height: (20 / 13);
        padding-top: 14px;

        span {
            display: block;
            color: #66A1C7;
            text-transform: uppercase;
        }
    }
}

.example-price {
    @include row();
    
    &__nav {
        padding-left: 10px;
        padding-right: 10px;

        @media (min-width: $screen-md) {
            flex: 0 0 calc(420 / 1600 * 100%);
            max-width: calc(420 / 1600 * 100%);
        }

        @media (min-width: $screen-xl) {
            flex: 0 0 calc(320 / 1600 * 100%);
            max-width: calc(320 / 1600 * 100%);
        }

        a {
            display: block;
            width: 100%;
            color: #4c5f95;
            font-size: 22px;
            line-height: 1.22727;
            text-align: center;
            padding: 14px 0;
            margin-bottom: 18px;
            text-transform: uppercase;

            &:hover,
            &.active {
                background: #4c5f95;
                box-shadow: -6px 7px 8px rgba(0,0,0,.35);
                color: #fff;
            }
        }
    }

    &__body {
        // @include col(sm, 10);
        padding-left: 10px;
        padding-right: 10px;

        @media (min-width: $screen-md) {
            flex: 0 0 (1180 / 1600 * 100%);
            max-width: (1180 / 1600 * 100%);
        }

        @media (min-width: $screen-xl) {
            flex: 0 0 (1280 / 1600 * 100%);
            max-width: (1280 / 1600 * 100%);
        }

        @media (min-width: $screen-xxl) {
            flex: 0 0 (1280 / 1600 * 100%);
            max-width: (1280 / 1600 * 100%);
        }

        &-item {
            display: none;

            &.active {
                @include row();
            }
        }
    }

    &__img {
        padding-left: 10px;
        padding-right: 10px;
        
        @media (min-width: $screen-md) {
            margin-bottom: $layout-vertical-line-height;
        }

        @media (min-width: $screen-xl) {
            flex: 0 0 calc(780 / 1280 * 100%);
            max-width: calc(780 / 1280 * 100%);
        }

        @media (min-width: $screen-xxl) {
            flex: 0 0 calc(800 / 1280 * 100%);
            max-width: calc(800 / 1280 * 100%);
        }
    }

    &__info {
        padding-left: 10px;
        padding-right: 10px;

        @media (min-width: $screen-xl) {
            flex: 0 0 calc(500 / 1280 * 100%);
            max-width: calc(500 / 1280 * 100%);
        }

        @media (min-width: $screen-xxl) {
            flex: 0 0 calc(480 / 1280 * 100%);
            max-width: calc(480 / 1280 * 100%);
        }

        ul {
            font-size: 16px;
            line-height: (25 / 16);
            padding-left: 0;
            margin-bottom: 36px;
            list-style: none;
        }

        p {
            font-size: 16px;
            line-height: (25 / 16);
        }
    }

    &__title {
        padding: 0;
        margin: 0;
        color: #000;
        font-size: 22px;
        line-height: (27 / 22);
    }

    &__total {
        display: block;
        font-size: 80px;
        line-height: (96 / 80);
        color: #66A1C7;
        font-style: italic;
        padding: 15px 0;

        sub {
            font-size: 16px;
            font-style: normal;
            vertical-align: baseline;
        }
    }
}

.lp-materials {
    @include row();

    &__nav {
        @include make-col(10);
        margin-left: auto;
        margin-right: auto;
        // padding-left: 0;

        @media (min-width: $screen-xl) {
            @include make-col(3);
        }
        @media (min-width: $screen-xxl) {
            @include make-col(2);
        }

        a {
            display: block;
            width: 100%;
            color: #4C5F95;
            font-size: 22px;
            line-height: (27 / 22);
            text-align: center;
            padding: 14px 0;
            margin-bottom: $layout-vertical-line-height;

            // &:not(:last-child) {
            //     margin-bottom: $layout-vertical-line-height;
            // }

            &:hover,
            &.active {
                background: #4C5F95;
                box-shadow: -6px 7px 8px rgba(0, 0, 0, 0.35);
                color: #fff;
            }
        }
    }

    &__body {
        @include make-col(12);
        // padding-right: 0;

        @media (min-width: $screen-xl) {
            @include make-col(9);
        }
        @media (min-width: $screen-xxl) {
            @include make-col(10);
        }

        &-item {
            display: none;

            &.active {
                @include row();
            }
        }
    }

    &__item {
        @include width(1);

        @media (min-width: $screen-sm) {
            @include width(2);
        }

        @media (min-width: $screen-lg) {
            // @include make-col(2);
            @include width(5);
        }
            // @media (min-width: $screen-lg) {
            //     @include make-col(2);
            // }

        // &:first-child {
        //     @media (min-width: $screen-lg - 1) {
        //         @include make-col(2);
        //     }
        // }

        
    }
}

.form-request {
    background: #FFFFFF;
    border: 1px solid #939598;
    box-shadow: -6px 7px 8px rgba(0, 0, 0, 0.35);
    padding: 20px;

    .form__fieldset {
        margin-bottom: 0;
    }
    .field-actions {
        margin-top: 0;
    }

    &__img {
        height: 100%;
        position: relative;
        overflow: hidden;

        img {    
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    &__holder {}

    &__title {
        font-family: Verdana;
        font-size: 40px;
        line-height: (48 / 40); 
        font-weight: 600;
        text-transform: uppercase;
        color: #223A7A;
    }

    &__subtitle {
        font-size: $font-size-3;
        line-height: (36 / 18); 
        text-transform: uppercase;
        margin-bottom: $layout-vertical-line-height;
    }
}

.example-work {
    padding-left: 52px;
    padding-right: 52px;

    @media (min-width: $screen-lg) {
        padding-left: 80px;
        padding-right: 80px;
    }

    @media (min-width: $screen-xl) {
        padding-left: 160px;
        padding-right: 160px;
    }

    &__item {
        padding: 0 10px;

        img {
            margin: 0 auto;
        }
    }

    .slick-arrow.slick-prev {
        left: 10px;

        @media (min-width: $screen-lg) {
            left: 20px;
        }
    
        @media (min-width: $screen-xl) {
            left: 52px;
        }
    }

    .slick-arrow.slick-next {
        right: 10px;

        @media (min-width: $screen-lg) {
            right: 20px;
        }
    
        @media (min-width: $screen-xl) {
            right: 52px;
        }
    }
}

.reviews {
    // max-width: 1280px;
    max-width: 1372px;
    margin: 0 auto;
    padding-left: 56px;
    padding-right: 56px;
  
    $block-name:                &; // #{$block-name}__element
    
    &__inner {
      // max-width: 1280px;
      // margin: 0 auto;
      // padding: 0 46px;
      // margin-left: -10px;
      // margin-right: -10px;
    }
  
    &__item {
      
    }
  
    &__item-inner {
      margin-left: -10px;
      margin-right: -10px;
  
      @media (min-width: $screen-lg) {
        display: flex;
        justify-content: center;
      }
    }
  
    &__img {
      padding: 0 10px;
      max-height: 223px;
  
      @media (max-width: $screen-lg - 1) {
        margin-bottom: ($layout-vertical-line-height * 2);
      }

      @media (min-width: $screen-xl) {
        flex: 0 0 calc(300 / 1280 * 100%);
        max-width: calc(300 / 1280 * 100%);
      }
  
      .embed-responsive {
        margin-bottom: 0;
      }
    }
  
    &__text {
      flex: 1;
      padding: 0 10px;
      display: flex;
      flex-direction: column;

      p {
        &:last-child {
            margin-top: auto;
            margin-bottom: 0;
        }
      }

    //   @media (min-width: $screen-xl) {
    //     flex: 0 0 calc(300 / 1280 * 100%);
    //     max-width: calc(300 / 1280 * 100%);
    //   }
    }
  
    .slick-arrow {
  
      &.slick-prev {
        left: 0;
      }
  
      &.slick-next {
        right: 0;
      }
    }
  }