// В этом файле должны быть стили для БЭМ-блока intro-cont, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.intro-cont {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: $layout-vertical-line-height * 2;

  &__inner {
    max-width: 1260px;
    margin: auto;
    display: flex;
  }

  &__media {
    max-width: 460px;
    width: 100%;
    margin-right: 20px;
  }

  &__text {
    width: 100%;
    font-size: $font-size;
    line-height: (18 / 15);
  }
}
