//- Все примеси в этом файле должны начинаться c имени блока (intro-cont)

mixin intro-cont(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +intro-cont('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' intro-cont--' + modsList[i].trim();
      }
    }

  .intro-cont(class=allMods)&attributes(attributes)
    .intro-cont__inner
      .intro-cont__media
        img(src="https://picsum.photos/460/324", alt="")
      .intro-cont__text
        <p>Основана в 2010 году в результате слияния нескольких компаний, специализирующихся  в области работы с натуральным и искусственным камнем. Головной офис компании находится в Санкт-Петербурге.</p>
        <p>В компании работают высококлассные специалисты с большим опытом работы. Компания имеет собственное производство, оснащенное современным высокотехнологичным оборудованием по обработке камня, конструкторский и технологический отделы, подразделение  аппаратно-цифровых замеров, монтажные, транспортные и сервисные подразделения.</p>
        <p>За истекший период, компания  выполнила большое количество проектов и приобрела отличную репутацию, зарекомендовав себя, как производители качественных изделий и специалисты в области облицовочных и реставрационных работ с применением натурального и искусственного  камня.</p>
        <p>В настоящий момент, компания активно развивается и расширяет сферу своей деятельности. Используя в своей работе комплексный профессиональный подход и отличный сервис, компания   является надежным партнером для всех своих клиентов.</p>
      block
