// В этом файле должны быть стили для БЭМ-блока card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;

  &__inner {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  &__img-wrap {
    flex-shrink: 0;
    display: block;
    width: 100%;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &::before {
      background-color: rgba(34, 58, 122, 0);
      transition: background-color $transition-time ease-in-out;
    }

    &::after {
      z-index: 1;
    }
  }

  &__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__title,
  &__desc {
    position: absolute;
    left: 0;
    right: 0;
  }

  &__title {
    margin: 0 0 20px;
    top: 0;
    font-weight: normal;
    box-shadow: -6px 7px 8px 0 rgba(0,0,0,.35);
    min-height: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: $font-size;
    text-align: center;
    line-height: (18 / 15);
    background-color: #333333;
    color: #fff;
    padding-left: 9px;
    padding-right: 9px;


    span {
      display: block;
      font-size: 0.789em;
      line-height: 0.789em;
    }
  }

  &__new {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    padding: 5px 10px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    background: $color-success;
    transform: translateX(-50%) rotate(-10deg);
  }

  &__desc {
    font-size: $font-size-5;
    line-height: (18 / 14);
    color: #fff;
    padding: ($layout-vertical-line-height * 2) $layout-vertical-line-height 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility $transition-time ease-in-out, opacity $transition-time ease-in-out;
  }

  &__price {
    flex-shrink: 0;
    margin: auto 0 0;
    font-size: $font-size-h3;
    font-weight: 700;
    line-height: 1;
  }

  &__buy {
    flex-shrink: 0;
  }

  &:hover {

    .card__title {
      background-color: #223a7a;
    }
    .card__desc {
      visibility: visible;
      opacity: 1;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 18%;
    background: url('../img/card-arrow-active.svg') no-repeat center bottom / 100% auto;
    background-size: 100% 100%;
    transform: translateY(100%);
    transition: transform ($transition-time - 0.020) cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.active {
    position: relative;

    &::after {
      transform: translateY(0);
    }
  }

  &--indent {
    .card__title {
      min-height: 72px;
      background-color: #fff;
      top: $layout-vertical-line-height * 2;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      line-height: (27 / 19);
      color: #223a7a;

      @media (min-width: $screen-xl) {
        font-size: 19px;
      }
    }
    .card__desc {
      top: $layout-vertical-line-height * 6;
    }

    &:hover {
      .card__title {
        background-color: #fff;
      }
      .card__img-wrap {
        &::before {
          background-color: rgba(34, 58, 122, 0.8);
        }
      }
    }
  }

  &--vacancy {
    .card__title {
      min-height: 90px;
      span {
        font-size: 0.789em;
        font-weight: normal;
        line-height: 0.789em;
        text-transform: lowercase;
      }
    }
  }
}

.card-preview {
  visibility: hidden;
  position: absolute;
  margin-bottom: $layout-vertical-line-height * 2;
  

  &.is-show {
    visibility: visible;
    position: static;
  }

  &__inner {
    @include row();
    position: relative;
  }

  &__slider {
    position: relative;
    @include make-col(12, $grid-columns, $grid-gutter-width);

    @media screen and (min-width: $screen-xl) {
      @include make-col(6, $grid-columns, $grid-gutter-width);

      .slider__item img {
        height: 100%;
        object-fit: cover;
      }
    }
    @media screen and (min-width: 1900px) {
      @include make-col(8, $grid-columns, $grid-gutter-width);
    }
  }

  &__info {
    @include make-col(12, $grid-columns, $grid-gutter-width + 20);

    @media screen and (min-width: $screen-xl) {
      @include make-col(6, $grid-columns, $grid-gutter-width);
    }
    @media screen and (min-width: 1900px) {
      @include make-col(4, $grid-columns, $grid-gutter-width);
    }
  }

  &__close {
    position: absolute;
    background: transparent;
    outline: none;
    border: 0;
    padding: 15px;
    top: $layout-vertical-line-height - 15;
    right: ($layout-vertical-line-height + 10) - 15;
    cursor: pointer;
    svg {
      vertical-align: middle;
    }
    &:hover {
      svg {
        color: #4e6195;
      }
    }
  }
}
