// В этом файле должны быть стили для БЭМ-блока card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card-list {
  // @include row();
}

.card {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  // padding: 0 15px;
  margin-bottom: 20px;
  // @include get-width();
  // @include col(md, 3);
  // max-width: 460px;

  &__inner {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    // margin-bottom: 20px;
  }

  &__img-wrap {
    flex-shrink: 0;
    display: block;
    // margin-bottom: 20px;
    width: 100%;
    position: relative;

    &::before {
      content: '';
      background-color: rgba(34, 58, 122, 0);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__title,
  &__desc {
    position: absolute;
    left: 0;
    right: 0;
  }

  &__title {
    margin: 0 0 20px;
    top: 0;
    font-weight: normal;
    box-shadow: -6px 7px 8px 0 rgba(0,0,0,.35);
    min-height: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: $font-size;
    line-height: (18 / 15);
    background-color: #333333;
    color: #fff;
    padding-left: 9px;
    padding-right: 9px;


    span {
      display: block;
      font-size: $font-size;
      line-height: (21 / 15);
    }
  }

  &__new {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    padding: 5px 10px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    background: $color-success;
    transform: translateX(-50%) rotate(-10deg);
  }

  &__desc {
    font-size: $font-size-5;
    line-height: (18 / 14);
    color: #fff;
    padding: ($layout-vertical-line-height * 2) ($layout-vertical-line-height / 2) 0;
  }

  &__price {
    flex-shrink: 0;
    margin: auto 0 0;
    font-size: $font-size-h3;
    font-weight: 700;
    line-height: 1;
  }

  &__buy {
    flex-shrink: 0;
  }

  &:hover {
    .card__title {
      background-color: #223a7a;
    }
  }

  &.active {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      height: 50%;
      background: url('../img/card-arrow-active.svg') no-repeat center bottom / 100% auto;
    }
  }

  &--indent {
    .card__title {
      min-height: 72px;
      background-color: #fff;
      top: $layout-vertical-line-height * 2;
      text-align: center;
      font-size: 19px;
      font-weight: bold;
      line-height: (27 / 19);
      color: #223a7a;
    }
    .card__desc {
      top: $layout-vertical-line-height * 6;
    }

    &:hover {
      .card__title {
        background-color: #fff;
      }
      .card__img-wrap {
        &::before {
          background-color: rgba(34, 58, 122, 0.8);
          transition: background-color 300ms;
        }
      }
    }
  }

  &--vacancy {
    .card__title {
      min-height: 90px;
      span {
        font-size: $font-size-5;
        font-weight: normal;
        line-height: (18 / 14);
        text-transform: lowercase;
      }
    }
  }
}

.card-view {
  display: flex;

  &:first-child {flex: 4;}
  &:last-child {flex: 2;}
}

.col-full {
  // &.hide {
  //   height: 0;
  // }
  // &.show {
  //   height: auto;
  // }
}
