// В этом файле должны быть стили для БЭМ-блока main-banner, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-banner {

  &-wrap {
    position: relative;
  }

  &__inner {}

  &__item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    position: relative;
    

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }

    @media (min-width: $screen-xl) {
      height: 554px;
    }
    @media (min-width: $screen-xxl) {
      height: 774px;
    }
  }

  &__cont {
    // max-width: 940px;
    width: 100%;
    padding-top: ($layout-vertical-line-height * 4);
    margin-left: auto;
    // margin-right: 160px;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-left: 30px;
    padding-right: 30px;

    @media (min-width: $screen-lg) {
      max-width: 640px;
    }
  
    @media (min-width: $screen-xl) {
      max-width: 740px;
      padding-left: 0;
      padding-right: 0;
    }
  
    @media (min-width: $screen-xxl) {
      max-width: 940px;
    }
  }

  &__title {
    font-size: $font-size-2;
    font-weight: 700;
    line-height: (42 / 32);
    color: #ccc;
    text-transform: uppercase;
    margin-bottom: $layout-vertical-line-height;

    @media (min-width: $screen-lg) {
      
    }
    @media (min-width: $screen-xl) {
      font-size: 42px;
      line-height: (54 / 42);
    }
    @media (min-width: $screen-xxl) {
      font-size: $font-size-1;
      line-height: (72 / 60);
    }
  }

  &__text {
    max-width: 620px;
    max-height: 324px;
    font-size: $font-size-3;
    font-weight: 700;
    line-height: (21.6 / 18);
    color: #fff;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
  }

  .slick-arrow {
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
  .slick-prev {
    left: 10px;
    @media (min-width: $screen-lg) {
      left: 35%;
    }
    @media (min-width: $screen-xl) {
      left: 42%;
    }
    @media (min-width: $screen-xxl) {
      // left: 42%;
    }
  }
  .slick-next {
    right: 10px;
    @media (min-width: $screen-lg) {
      right: 8.5%;
    }
    @media (min-width: $screen-xl) {
      right: 3.5%;
    }
    @media (min-width: $screen-xxl) {
      right: 8.5%;
    }
  }
  .slick-dots {
    top: calc(100% - 162px);
    bottom: auto;

    @media (min-width: $screen-lg) {
      left: 35%;
      right: 8.5%;
    }
    @media (min-width: $screen-xl) {
      left: 42%;
      right: 3.5%;
    }
    @media (min-width: $screen-xxl) {
      right: 8.5%;
    }
  }
}
