// В этом файле должны быть стили для БЭМ-блока main-banner, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-banner {

  &-wrap {
    position: relative;
  }

  &__inner {}

  &__item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 774px;
  }

  &__cont {
    max-width: 940px;
    width: 100%;
    padding-top: ($layout-vertical-line-height * 4);
    margin-left: auto;
    margin-right: 160px;
    text-align: center;
  }

  &__title {
    font-size: $font-size-1;
    font-weight: bold;
    line-height: (72 / 60);
    color: #ccc;
    text-transform: uppercase;
  }

  &__text {
    font-size: $font-size-3;
    line-height: (21.6 / 18);
    color: #fff;
  }

  .slick-arrow {
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
  .slick-prev {
    left: calc(100% - (940px + 160px));
  }
  .slick-next {
    right: 160px;
  }
}
