extends ../pug/layout.pug

block meta
  title Вакансии
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('0', '', 'true')

block content
    .container
        .page__main-head
            +breadcrumbs()
                +breadcrumbs-item('Главная', '/index.html')
                +breadcrumbs-item('О компании', '/about.html')
                +breadcrumbs-item('Вакансии')
            h1.page__title Вакансии

    .container-half
        .container-half__inner
            .container-half__aside
                img(src="img/post-img-1.jpg", alt="")
            .container-half__main
                h4 работа вашей мечты - работа у нас!
                
                p Замер необходим для корректного расчета и максимально точного изготовления изделия. В процессе проведения замера формируется Техническое задание, в котором указываются: габаритные размеры изделия, необходимость подготовительных работ, виды примыканий, техническое состояние объекта,  вид материала, толщина материала, вид обработки торца (профиль), наличие плинтуса или стеновой панели и все дополнительные пожелания Заказчика, а также оформляется эскиз изделия. Для сложных конфигураций при необходимости изготавливается шаблон. Замер проводится в присутствии Заказчика или уполномоченного им лица. Кроме того, наши специалисты не только произведут замеры и составят план помещения, но и помогут оценить готовность помещения (объекта) к установке изделий. При необходимости, дадут ряд советов, что еще необходимо сделать или изменить, или чего делать не стоит.
                p Обращаем Ваше внимание, что большинство ошибок при изготовлении и монтаже изделий можно избежать, если замеры будут произведены специалистами, знающими все особенности работы с изделиями из камня.
                p Звоните! +7 (777) 777 77 77
            .container-half__full
                .columns.js-card
                    .col-md-6.col-lg-3
                        +card({
                            img: 'https://picsum.photos/520/530',
                            name: 'Продавец-консультант',
                            subname: 'в офис продаж и обслуживания'
                        }, 'vacancy')
                    .col-md-6.col-lg-3
                        +card({
                            img: 'https://picsum.photos/520/530',
                            name: 'Консультант',
                            subname: 'флагманского магазина'
                        }, 'vacancy')
                    .col-md-6.col-lg-3
                        +card({
                            img: 'https://picsum.photos/520/530',
                            name: 'БУХГАЛТЕР',
                            subname: 'в штат'
                        }, 'vacancy')
                    .col-md-6.col-lg-3
                        +card({
                            img: 'https://picsum.photos/520/530',
                            name: 'Менеджер',
                            subname: 'зала'
                        }, 'vacancy')
                    .col-md-12.col-full(style="height: 0; visibility: hidden;")
                        .vacancy-item
                            .vacancy__head
                                .vacancy-item__title БУХГАЛТЕР
                                span Опыт работы от 3 лет, полная занятость на территории работодателя
                                span от 100 000
                            .vacancy__desc
                                ul
                                    li
                                        strong Обязанности:
                                    li Руководство бухгалтерией, организация и контроль работы бухгалтерии;
                                    li Организация и ведение бухгалтерского и налогового учета финансово-хозяйственной деятельности компании;
                                    li Участие в разработке документооборота группы компаний, контроль за соблюдением порядка оформления бухгалтерских документов;
                                    li Подготовка и сдача бухгалтерской, налоговой и статистической отчетности в соответствующие инстанции;
                                    li Составление управленческой отчетности;
                                    li Контроль платежей;
                                    li Представление интересов компании во всех контролирующих инстанциях;
                                    li Контроль дебиторской и кредиторской задолженности;
                                    li Контроль за соблюдением правил по работе с денежной наличностью;
                                    li Контроль затрат, налоговое планирование, оптимизация налогообложения;
                                    li Ведение нескольких юридических лиц.

                                ul
                                    li
                                        strong Требования:
                                    li Опыт работы на должности Главного бухгалтера не менее 3 трех лет;
                                    li Опыт работы в сфере общественного питания обязателен;
                                    li Знание законодательства РФ;
                                    li Знание всех систем налогообложения ОСНО, УСНО, ЕНВД;
                                    li Знание 1С, 1С ЗиК, Excel, Word;
                                    li Опыт прохождения аудиторских/налоговых проверок;
                                    li Опыт внедрения 1С / перехода на новые версии 1С;
                                    li Опыт ведения не менее 5 юридических лиц.
                                    li Мы ждём уверенного и опытного бухгалтера, который умеет создавать сильную команду, управлять ей, делать эффективным вверенный участок работы и быть полноправным участником бизнес-процессов сети!
                                    li Высшее образование

                                ul
                                    li
                                        strong Условия:
                                    li Место работы: Ближайшее Подмосковье (Юго-Восток)
                                    li Компенсация мобильной связи
                                    li Возможна компенсация расходов на проезд
                                    li Бесплатные обеды
                                    li График работы обсуждается

    
    .container-half.container-half--narrow
        .container-half__inner
            .container-half__full
                +form()
                    +fieldset()
                        +field-text({
                            title: 'Название организации:',
                        })
                        +field-text({
                            title: 'ФИО:',
                        })
                        +field-text({
                            title: 'Email:',
                        })
                        +field-text({
                            title: 'Телефон:',
                        })
                        +field-text({
                            title: 'Комментарий:',
                            isTextarea: 'true'
                        })
                        +field-actions()
                            +btn('Отправить', 'blue-dark, lg', true)


//- #[a(href='blocks-demo.html') Библиотека блоков]

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
