extends ../pug/layout.pug

block meta
  title Производство
  meta(name='description', content='')

block append head
  link(rel='stylesheet', href='css/page-about-production.css')

block nav
  +main-nav('0', '', 'true')

block content
    .container
        .page__main-head
            +breadcrumbs()
                +breadcrumbs-item('Главная', 'index.html')
                +breadcrumbs-item('О компании', 'about.html')
                +breadcrumbs-item('Производство')
            h1.page__title Производство

    .container-half
        .container-half__inner
            .container-half__aside
                img(src="img/post-img-1.jpg", alt="")
                img(src="img/post-img-2.jpg", alt="")
            .container-half__main
                h3 Изделия из натурального камня и кварцевого агломерата
                p 
                    | ГК «Master Stone» основана в 2010 году в результате слияния нескольких компаний,
                    | специализирующихся  в области работы с натуральным и искусственным камнем. Головной офис компании находится в Санкт-Петербурге.
                p
                    | В компании работают высококлассные специалисты с большим опытом работы. Компания имеет собственное производство, оснащенное современным высокотехнологичным оборудованием по обработке камня, конструкторский и технологический отделы, подразделение  аппаратно-
                    | цифровых замеров, монтажные, транспортные и сервисные подразделения.
                p
                    | За истекший период, компания  выполнила большое количество проектов и приобрела отличную репутацию, зарекомендовав себя, как производители качественных изделий и специалисты
                    | в области облицовочных и реставрационных работ с применением натурального и искусственного  камня.
                p
                    | В настоящий момент, компания активно развивается и расширяет сферу своей деятельности.
                    | Используя в своей работе комплексный профессиональный подход и отличный сервис, компания   является надежным партнером для всех своих клиентов.
                p
                    | Основные направления деятельности:
                p
                    | Производство изделий из натурального и искусственного камня:
                    | Столешницы для кухни и ванной комнаты, подоконники, ступени, камины, раковины, душевые поддоны, элементы декора, флорентийская мозаика. Собственное производство компании
                    | оснащено современными высокоточными распиловочными и фрезерными центрами с ЧПУ
                    | компании Denver (Италия).
                p
                    | Облицовочные работы  с применением натурального и искусственного камня:
                    | Фасады зданий, входные группы, полы, стены, лестницы и прочее. Монтаж изделий
                    | с светодиодной подсветкой. Производство облицовочных плит с 3D фрезеровкой  лицевой
                    | поверхности.
                p
                    | Услуги по реставрации и воссозданию изделий из натурального камня:
                    | Реставрация и воссоздание изделий из натурального камня. Профессиональная полировка
                    | поверхности полов, стен и изделий с применением современного машинного оборудования
                    | и ручного инструмента. Защита и консервация поверхностей  из натурального камня с помощью высокоэффективных химических средств.
                p
                    | Торговый дом:
                    | Поставки гранита, мрамора, оникса, известняка, ракушечника, туфа.
                    | Торговля инструментом, оборудованием, расходными материалами и химическими составами для камнеобработки.
                    | Торговля сопутствующими товарами для комплектации кухонных столешниц и столешниц для ванных комнат —  Раковины. Мойки. Смесители, Дозаторы и прочее.
    .container
        +media-cont()
    
//- #[a(href='blocks-demo.html') Библиотека блоков]

//- block footer
//-   p footer

block append page-bottom
  script(src='js/page-about-production.js')
