extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('0')

block content
    .page__main-head
        +breadcrumbs()
            +breadcrumbs-item('Главная', '/index')
            +breadcrumbs-item('О компании', '/about')
            +breadcrumbs-item('Структура')
        h1.page__title Структура
    .post
        .post__aside
            | banners
        .post__main
            .post__text
                h3 ИТАЛЬЯНСКИЙ МРАМОР: МЕСТОРОЖДЕНИЯ, ВИДЫ, ОСОБЕННОСТИ, ПРИМЕНЕНИЕ
                p
                    strong #[i Мрамор]
                    | – это красивый природный камень, который служит вдохновением для многих художников, архитекторов и дизайнеров. Данный материал легко поддается обработке на станках, позволяет создавать самые разнообразные объекты. Несмотря на то, что добывается во многих странах, особой популярностью пользуется итальянский природный камень. Он отличается великолепным блеском, ослепительным белым цветом. Многие знаменитые произведения искусства были созданы с данного материала, среди них – скульптуры Микеланджело.
                p #[strong Места, где добывается итальянский мрамор]
                p Во время посещения страны туристов привлекают внимание величественные Апуанские горы. Они выделяются на фоне природных просторов, отличаются уникальной белизной. На первый взгляд создается впечатление, что возвышение покрыто снегом. На самом деле это не так. Чисто-белый цвет – это мрамор. Горы Апуанские являются одним из главных месторождений природного камня в Италии. Данный материал добывается также в карьерах, которые расположены по всей территории страны. В долинах Torano, Miseglia, Bedisano и Colonnata находятся огромные залежи белого и цветного мрамора.
                p Первые месторождения были обнаружены более 2 тысяч лет назад. На карьерах работали рабы, они добывали камень и отправляли его в Рим. Мрамор использовался для строительства дворцов, памятников. Изделия из него украшали сады вельмож, городские парки. Материал быстро привлек внимание скульпторов, архитекторов. Согласно истории Микеланджело сам подбирал камень для создания своих шедевров. На сегодняшний день все изменилось. В горах и карьерах добыча осуществляется с помощью специальной техники, при этом человеческая сила практически незадействованная.
                p #[strong Небольшой обзор]
                p Существует несколько основных видов. Итак:
                p #[i Гриджио Карнико]. Особенностью камня является насыщенный графитовый оттенок. #[br]Поверхность покрыта хаотичными белыми линиями. В основном используется для декорирования элитныхресторанов, гостиниц, бизнес-центров. Он подходит для облицовки стен и полов внутри помещения.
                p #[i Эмперадор Дарк]. Это самая красивая и дорогая порода натурального камня. Материал используется для декорирования столешниц, каминов, подоконников. Изделия из него сделают любое помещение шикарным, расскажут об изысканном вкусе его владельцев.
                p #[i Крема Нуова]. Пользуется огромной популярностью. Он отличается нежным бежевым оттенком, достаточно легко поддается обработке, имеет широкую сферу применения. Используется для облицовки различных поверхностей, создания лестниц, порталов, в производстве мебели. Камень отличается повышенной прочностью, надежностью и долговечностью. Он идеально подходит для внутренней и внешней отделки. Данный вид мрамора является наиболее доступным, приобрести изделия из него сможет позволить себе практически каждый. Материал часто используется для производства плитки, которая послужит достойным украшением любого интерьера.
                p #[i Бьянко Каррара]. Это бесценный материал. Он легко поддается обработке, имеет светло-серый оттенок. Поверхность камня украшают причудливые природные узоры.Используетсядля облицовки различных поверхностей, из него делают уличные лестницы, колонны.
                p #[strong Преимущества]
                p Материал обладает целым рядом положительных характеристик, среди них стоит выделить:
                p #[i Длительный срок службы]. Мрамор является достаточно прочным, устойчивым к различным воздействиям. На протяжении многих лет его поверхность остается гладкой, не тускнеет.
                p #[i Пластичность]. Камень прекрасно поддается обработке, его можно шлифовать, резать, полировать. Он подходит для создания самых разнообразных изделий любой сложности.
                p #[i Эстетичность]. Итальянский мрамор представлен в широком ассортименте цветов и фактур. #[br]Текстура одного и того же вида будет отличаться.
                p #[i Практичность]. Камень можно использовать для отделки различных поверхностей внутри и снаружи помещения. Он подходит для производства мебели, декоративных элементов, скульптур, памятников. Устойчивость к перепадам температур и влаге делает этот материал востребованным. Его можно использовать для декорирования каминного портала, создания полов в ванной комнате и на кухне, столешниц, раковин. Он никогда не ста нет средой размножения грибка и других микроорганизмов.
                p #[i Экологичность]. Мрамор не содержит веществ, вредных для человеческого организма и окружающей среды. Его спокойно можно использовать для декорирования жилых помещений, детских и медицинских учреждений.
                p #[strong Что еще нужно знать?]
                p #[i Итальянский мрамор] – это роскошный, благородный натуральный минерал, который не имеет аналогов. Он безопасен для здоровья, податлив к обработке. Срок службы мрамора составляет более 80 лет. Условия эксплуатации никаким образом не влияют на внешний вид камня. #[br]Материал не боится огня, перепадов температур, капризов природы, механических воздействий, его очень сложно разбить или поцарапать. Итальянский мрамор имеет широкую сферу применения. Он используется при обустройстве церквей и храмов, музеев, для оформления квартир и домов. Столешницы и другие изделия из мрамора поражают воображение своей красотой и изысканностью.
    .columns
        .col-md-6.col-lg-3
        .col-md-6.col-lg-3
    
//- #[a(href='blocks-demo.html') Библиотека блоков]

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
