extends ../pug/layout.pug

block meta
  title О компании
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('2', '', 'true')

block content
    .container
        .page__main-head
            +breadcrumbs()
                +breadcrumbs-item('Главная', '/index.html')
                +breadcrumbs-item('О компании')
            h1.page__title О компании

    .container-half
        .container-half__inner
            .container-half__full
                img(src="https://picsum.photos/1260/360", alt="")
            .container-half__aside
                img(src="img/post-img-1.jpg", alt="")
                img(src="img/post-img-2.jpg", alt="")
            .container-half__main
                h3 КРАСОТА В КАМНЕ - ИТОГ НАШЕЙ РАБОТЫ
                p 
                    | Среди многообразия строительных материалов, применяемых в отделке зданий, особое место занимает натуральный камень. Вековая прочность, великолепный внешний вид, экологичность, многообразие уникальных цветов, рисунков и фактур камня издавна привлекали человека.
                p
                    | Изделия из этого материала необычайно популярны и в наше время. Это неудивительно, ведь гранитные облицовочные плиты способны быстро и до неузнаваемости изменить фасад дома, придав ему незыблемость и шарм. Число людей, желающих украсить жилище каменными ступенями, колоннами, балясинами, подоконниками, столешницей либо вазой, стремительно растёт день ото дня. Наша компания исходя из многолетнего опыта предложит Вам множество решений для выполнения любой интерьерной задачи в доме или квартире.
                p
                    | Основные направления деятельности:
                p
                    | Производство изделий из натурального и искусственного камня:
                    | Столешницы для кухни и ванной комнаты, подоконники, ступени, камины, раковины, душевые поддоны, элементы декора, флорентийская мозаика. Собственное производство компании оснащено современными высокоточными распиловочными и фрезерными центрами с ЧПУ компании Denver (Италия).
                p
                    | Облицовочные работы  с применением натурального и искусственного камня:
                    | Фасады зданий, входные группы, полы, стены, лестницы и прочее. Монтаж изделий с светодиодной подсветкой. Производство облицовочных плит с 3D фрезеровкой  лицевой поверхности.
                p
                    | Услуги по реставрации и воссозданию изделий из натурального камня:
                    | Реставрация и воссоздание изделий из натурального камня. Профессиональная полировка  поверхности полов, стен и изделий с применением современного машинного оборудования и ручного инструмента. Защита и консервация поверхностей  из натурального камня с помощью высокоэффективных химических средств.
                p
                    | Торговый дом:
                    | Поставки гранита, мрамора, оникса, известняка, ракушечника, туфа.
                    | Торговля инструментом, оборудованием, расходными материалами и химическими составами для камнеобработки.
                    | Торговля сопутствующими товарами для комплектации кухонных столешниц и столешниц для ванных комнат —  Раковины. Мойки. Смесители, Дозаторы и прочее.
    .container-half.container-half--narrow
        .container-half__inner
            .container-half__full
                .columns
                    .col-md-4
                        | Производство
                    .col-md-4
                        | Структура
                    .col-md-4
                        | Вакансии
                        
    
//- #[a(href='blocks-demo.html') Библиотека блоков]

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
