extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('0')

block content
    .page__main-head
        +breadcrumbs()
            +breadcrumbs-item('Главная', '/index')
            +breadcrumbs-item('О компании', '/about')
            +breadcrumbs-item('Структура')
        h1.page__title Структура
    .post
        .post__aside
            | banners
        .post__main
            .post__text
                h3 ИТАЛЬЯНСКИЙ МРАМОР: МЕСТОРОЖДЕНИЯ, ВИДЫ, ОСОБЕННОСТИ, ПРИМЕНЕНИЕ
                p
                    strong #[i Мрамор]
                    | – это красивый природный камень, который служит вдохновением для многих художников, архитекторов и дизайнеров. Данный материал легко поддается обработке на станках, позволяет создавать самые разнообразные объекты. Несмотря на то, что добывается во многих странах, особой популярностью пользуется итальянский природный камень. Он отличается великолепным блеском, ослепительным белым цветом. Многие знаменитые произведения искусства были созданы с данного материала, среди них – скульптуры Микеланджело.
                p #[strong Места, где добывается итальянский мрамор]
                p Во время посещения страны туристов привлекают внимание величественные Апуанские горы. Они выделяются на фоне природных просторов, отличаются уникальной белизной. На первый взгляд создается впечатление, что возвышение покрыто снегом. На самом деле это не так. Чисто-белый цвет – это мрамор. Горы Апуанские являются одним из главных месторождений природного камня в Италии. Данный материал добывается также в карьерах, которые расположены по всей территории страны. В долинах Torano, Miseglia, Bedisano и Colonnata находятся огромные залежи белого и цветного мрамора.
                p Первые месторождения были обнаружены более 2 тысяч лет назад. На карьерах работали рабы, они добывали камень и отправляли его в Рим. Мрамор использовался для строительства дворцов, памятников. Изделия из него украшали сады вельмож, городские парки. Материал быстро привлек внимание скульпторов, архитекторов. Согласно истории Микеланджело сам подбирал камень для создания своих шедевров. На сегодняшний день все изменилось. В горах и карьерах добыча осуществляется с помощью специальной техники, при этом человеческая сила практически незадействованная.
                p #[strong Небольшой обзор]
                p Существует несколько основных видов. Итак:
                p #[i Гриджио Карнико]. Особенностью камня является насыщенный графитовый оттенок. #[br] Поверхность покрыта хаотичными белыми линиями. В основном используется для декорирования элитныхресторанов, гостиниц, бизнес-центров. Он подходит для облицовки стен и полов внутри помещения.
                p #[i Эмперадор Дарк]. Это самая красивая и дорогая порода натурального камня. Материал используется для декорирования столешниц, каминов, подоконников. Изделия из него сделают любое помещение шикарным, расскажут об изысканном вкусе его владельцев.
                p #[i Крема Нуова]. Пользуется огромной популярностью. Он отличается нежным бежевым оттенком, достаточно легко поддается обработке, имеет широкую сферу применения. Используется для облицовки различных поверхностей, создания лестниц, порталов, в производстве мебели. Камень отличается повышенной прочностью, надежностью и долговечностью. Он идеально подходит для внутренней и внешней отделки. Данный вид мрамора является наиболее доступным, приобрести изделия из него сможет позволить себе практически каждый. Материал часто используется для производства плитки, которая послужит достойным украшением любого интерьера.
                p #[i Бьянко Каррара]. Это бесценный материал. Он легко поддается обработке, имеет светло-серый оттенок. Поверхность камня украшают причудливые природные узоры.Используетсядля облицовки различных поверхностей, из него делают уличные лестницы, колонны.
    
    .columns
        .col-md-6.col-lg-3
        .col-md-6.col-lg-3
    
//- #[a(href='blocks-demo.html') Библиотека блоков]

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
