extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('0', '', 'true')

block content
    .container
        .page__main-head
            +breadcrumbs()
                +breadcrumbs-item('Главная', '/index')
                +breadcrumbs-item('Информация', '/materials')
                +breadcrumbs-item('Статьи', '')
                +breadcrumbs-item('Преимущества мраморных подоконников')
            span.public-date 07.08.2018
            h1.page__title Преимущества мраморных подоконников

    .container-half
        .container-half__inner
            .container-half__aside
                img(src="img/post-img-1.jpg", alt="")
                img(src="img/post-img-2.jpg", alt="")
            .container-half__main
                p
                    | Большинство из тех, кто столкнулся с ремонтом и заменой окон в своем доме, задумываются
                    | о выборе подоконников. Задача заключается в том, чтобы выбрать материал для надёжного
                    | и декоративного оформления окон. Зачастую выбор останавливается на дереве либо пластике, как на самых популярных и распространенных предложениях. В то же время многие
                    | дизайнерские решения предполагают установку мраморных подоконников.
                p
                    | С точки зрения людей требовательных к экологии и красоте своей жилплощади выбор, конечно же, делается в пользу натуральных материалов. Мрамор — природный камень, который высоко ценится строителями на протяжении не одного тысячелетия. Превосходный отделочный камень, который подарила человечеству сама природа. Он использовался для масштабных творений – создания колонн, каминов, скульптур.
                p
                    | Отделка подоконников мрамором всегда является блестящей задумкой интерьерного
                    | конструктора. Мраморные подоконники давно приобрели популярность среди любителей
                    | изысканных интерьеров. Благодаря неповторимому, глянцевому, неправильно ломаному,
                    | геометрическому рисунку и широкой цветовой гамме каждая поверхность будет уникальной
                    | и единственной. С мрамором окна всегда будут выглядеть эксклюзивно. Но внешнее
                    | преимущество далеко не все достоинства натурального камня.
                p
                    | Не каждый решается на такое приобретение, обуславливаясь ценой вопроса. Зачастую
                    | покупателя пугает стоимость покупки. Но высокая цена мрамора — это скорее преувеличение, чем реальность. Если остановить свой выбор на недорогих сортах камня, то цена будет вполне сопоставима с подоконниками из искусственного камня и дерева, и не на много дороже их
                    | пластиковых сородичей, если брать во внимание соотношение их сроков службы к стоимости.мраморный подоконник
                p
                    strong Преимущества мраморных подоконников: #[br]
                    | эстетичность; #[br]
                    | экологичность; #[br]
                    | влагостойкость; #[br]
                    | термоустойчивость; #[br]
                    | прочность; #[br]
                    | изысканность; #[br]
                    | долговечность; #[br]
                    | сочетаемость с другими материалами.
                p
                    | Прочность мрамора обеспечивает крупитчатая структура камня, которая состоит из спаянных вместе зерен кальцита. За счет этого он мягок и легко поддается обработке, позволяя ему
                    | придавать очень сложную форму. Это является только дополнительным плюсом материала.
                    | Кальцит не расслаивается поэтому выдерживает довольно значительные нагрузки. Установку
                    | подоконников можно производить, не дожидаясь окончания строительства дома и его
                    | окончательной усадки.
                p
                    | Мраморные подоконники не нуждаются в каком-либо особенном уходе. При правильном
                    | использовании долго сохраняют свой изначальный внешний вид. Уход за такими подоконниками не доставляет особых хлопот. 
                p
                    strong Достаточно только знать элементарные правила: #[br]
                    | нельзя чистить мрамор щетками, т.к. они оставляют микротрещины на камне; #[br]
                    | для защиты использовать воск; #[br]
                    | пролитые красящие вещества, как можно скорее убрать с поверхности.
                p
                    | Если не экономить на качественных материалах, то при любых природных воздействиях и влиянии многих бытовых факторов изделия будут служить много лет, отлично вписываясь практически
                    | в любой интерьер. Подоконник из мрамора долго сможет радовать практичностью и качеством.
    


//- #[a(href='blocks-demo.html') Библиотека блоков]

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
