extends ../pug/layout.pug

block meta
  title Обратная связь
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('0', '', 'true')

block content
    .container
        .page__main-head
            +breadcrumbs()
                +breadcrumbs-item('Главная', 'index.html')
                +breadcrumbs-item('Обратная связь')
            h1.page__title Обратная связь
    .container-half.container-half--narrow
        .container-half__inner
            .container-half__full
                +form()
                    +fieldset()
                        +field-text({
                            title: 'ФИО:',
                        })
                        +field-text({
                            title: 'Телефон:',
                        })
                        +field-text({
                            title: 'Комментарий:',
                            isTextarea: 'true'
                        })
                        +field-text({
                            title: 'Файл эскиза. *.png, *.jpeg, *.gif, *.pdf, максимальный размер 4 Мб:',
                        })
                        +field-checkbox([
                            {
                                title: 'Подтверждаю принятие лицензионного соглашения ссылка.',
                                attrs: {
                                    name: 'check0',
                                }
                            },
                        ])
                        +field-actions()
                            +btn('Заказать', 'blue-dark, lg', true)


//- #[a(href='blocks-demo.html') Библиотека блоков]

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
