extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

block append head
  link(rel='stylesheet', href='css/page-index.css')

block nav
  +main-nav('', 'vertical', 'false')

block banner
  +main-banner()

block content

  section.section
    .container
      +media-cont()
        
  section.section
    h2.title Наши преимущества
    +advantages()
      +advantages-item({
        imgURL: 'img/advantages-img-1.png',
        text: 'Собственное производство',
      })
      +advantages-item({
        imgURL: 'img/advantages-img-2.png',
        text: 'Команда профессионалов',
      })
      +advantages-item({
        imgURL: 'img/advantages-img-3.png',
        text: 'Аккредитация ведущих поставщиков материала',
      })
      +advantages-item({
        imgURL: 'img/advantages-img-4.png',
        text: 'Индивидуальный подход',
      })
      +advantages-item({
        imgURL: 'img/advantages-img-5.png',
        text: 'Честность и порядочность',
      })
      +advantages-item({
        imgURL: 'img/advantages-img-6.png',
        text: 'Гарантированное высокое качество',
      })

  section.section
    h2.title Нам доверяют
    +clients()
  
  section.section
    h2.title Этапы работы
    +worksteps()
  
  section.section
    h2.title Производители материала
    .container
      +fabrics-logo('slider', 'slider')
        +fabrics-logo-item('img/fabric-1.png')
        +fabrics-logo-item('img/fabric-2.png')
        +fabrics-logo-item('img/fabric-3.png')
        +fabrics-logo-item('img/fabric-4.png')
        +fabrics-logo-item('img/fabric-5.png')
        +fabrics-logo-item('img/fabric-6.png')
        +fabrics-logo-item('img/fabric-7.png')
        +fabrics-logo-item('img/fabric-8.png')
        +fabrics-logo-item('img/fabric-6.png')
        +fabrics-logo-item('img/fabric-7.png')
        +fabrics-logo-item('img/fabric-8.png')
        +fabrics-logo-item('img/fabric-6.png')
        +fabrics-logo-item('img/fabric-7.png')
        +fabrics-logo-item('img/fabric-8.png')

  section.section
    h2.title Наши гарантии
    +guarantee()
        
  section.section
    h2.title Наши сертификаты
    +awards()

  section.section
    .text-center
      a.btn.btn--lg.btn--wide.btn--blue-dark(href="/") Оставить заявку

  section.section
    h2.title Информационные материалы
    +info()
      +info-item({
        title: 'Акции',
        subtitle: 'Замер столешницы БЕСПЛАТНО!',
        imgURL: 'img/info-img-1.jpg',
        typeBtn: 'btn'
      })
      +info-item({
        title: 'Новости',
        subtitle: 'Кварцевый агломерат – уникальный материал',
        imgURL: 'img/info-img-2.jpg',
        typeBtn: 'btn'
      })
      +info-item({
        title: 'Статья',
        subtitle: 'Первый шаг к качественному изделию из камня – точный замер',
        imgURL: 'img/info-img-3.jpg',
        typeBtn: 'btn'
      })

//- block footer
//-   p footer

block append page-bottom
  script(src='js/page-index.js')
