extends ../pug/layout.pug

block meta
  title Новости
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('0', '', 'true')

block content
    .container
        .page__main-head
            +breadcrumbs()
                +breadcrumbs-item('Главная', 'index.html')
                +breadcrumbs-item('Информация', 'javascript:void(0);')
                +breadcrumbs-item('Новости')
            h1.page__title Новости

    .container
        .container__partial
            +post-list()
                +post('news')
                +post('news')
                +post('news')
                +post('news')

            +pagination('true')
                +pagination-item('1', '/1')
                +pagination-item('2', '/2')
                +pagination-item('3', '/3', true)
                +pagination-item('4', '/4')
                +pagination-item('...')
                +pagination-item('8', '/8')

//- #[a(href='blocks-demo.html') Библиотека блоков]

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
