extends ../pug/layout.pug

block meta
  title Замер столешницы в подарок!
  meta(name='description', content='')

block append head
  link(rel='stylesheet', href='css/page-info-sales-detail.css')

block nav
  +main-nav('0', '', 'true')

block content
    .container
        .page__main-head
            +breadcrumbs()
                +breadcrumbs-item('Главная', 'index.html')
                +breadcrumbs-item('Информация', 'javascript:void(0);')
                +breadcrumbs-item('Акции', 'info-sales.html')
                +breadcrumbs-item('Замер столешницы в подарок!')
            span.public-date 04.05.2019 - 04.10.2019
            h1.page__title Замер столешницы в подарок!

    .container
        .container__partial
            img(src="https://picsum.photos/1420/612", alt="")
    
    .container-half
        .container-half__inner
            .container-half__main
                p
                    | Большинство из тех, кто столкнулся с ремонтом и заменой окон в своем доме, задумываются
                    | о выборе подоконников. Задача заключается в том, чтобы выбрать материал для надёжного
                    | и декоративного оформления окон. Зачастую выбор останавливается на дереве либо пластике, как на самых популярных и распространенных предложениях. В то же время многие
                    | дизайнерские решения предполагают установку мраморных подоконников.
                p
                    | С точки зрения людей требовательных к экологии и красоте своей жилплощади выбор, конечно же, делается в пользу натуральных материалов. Мрамор — природный камень, который высоко ценится строителями на протяжении не одного тысячелетия. Превосходный отделочный камень, который подарила человечеству сама природа. Он использовался для масштабных творений – создания колонн, каминов, скульптур.


//- #[a(href='blocks-demo.html') Библиотека блоков]

//- block footer
//-   p footer

block append page-bottom
  script(src='js/page-info-sales-detail.js')
