extends ../pug/lp-layout.pug

block meta
  title Landing
  meta(name='description', content='')

block append head
  link(rel='stylesheet', href='css/landing.css')

block nav
  nav.main-nav-lp#nav-lp
    +burger('Показать главное меню', 'nav', 'main-nav-lp--open')(class='main-nav-lp__toggler')
    ul.main-nav-lp__list
      li.main-nav-lp__item
        span +7 (812) 333 99 98
      li.main-nav-lp__item
        a(href="#").main-nav-lp__link Каталог камня
      li.main-nav-lp__item
        a(href="#").main-nav-lp__link Пример расчёта
      li.main-nav-lp__item
        a(href="#").main-nav-lp__link Производство
      li.main-nav-lp__item
        a(href="#").main-nav-lp__link Отзывы

block content
  section.section
    .lp-banner
      .lp-banner__inner
        h1.lp-banner__title Столешницы для кухни за 5 дней
        .lp-banner__subtitle Замер, доставка  бесплатно*
        .lp-banner__notice
          sup *
          | При оформлении заказа до 01.08.2019 доставка в пределах КАД + 10км 
        button.btn.btn--green.btn--sm.btn--wide Получить расчет
  
  section.section
    h2.title Почему Центр каменных столешниц?
    .container
      .lp-advantage
        .lp-advantage__item
          .lp-advantage__img
              img(src="img/lp-advantages-img-1.png", alt="")
          .lp-advantage__title
            span 15 лет на рынке:
            | более 5000 довольных клиентов
        .lp-advantage__item
          .lp-advantage__img
            img(src="img/lp-advantages-img-2.png", alt="")
          .lp-advantage__title
            span Прямые поставки
            | от производителей из 17 стран мира
        .lp-advantage__item
          .lp-advantage__img
            img(src="img/lp-advantages-img-3.png", alt="")
          .lp-advantage__title 
            span Полный цикл работ:
            | от замера до установки
        .lp-advantage__item
          .lp-advantage__img
            img(src="img/lp-advantages-img-4.png", alt="")
          .lp-advantage__title 
            span Персональный подход:
            | с вами работает индивидуальный менеджер
        .lp-advantage__item
          .lp-advantage__img
            img(src="img/lp-advantages-img-5.png", alt="")
          .lp-advantage__title
            span Собственное современное производство
        .lp-advantage__item
          .lp-advantage__img
            img(src="img/15-year-img.png", alt="")
          .lp-advantage__title
            span 15 лет гарантии на материалы
        .lp-advantage__item
          .lp-advantage__img
            img(src="img/3-year-img.png", alt="")
          .lp-advantage__title
            span 3 года гарантии на работы
  
  section.section
    .container
      .form-request
        .columns
          .col-xl-5.is-hidden-max-xl
            .form-request__img
              img(src="img/lp-form-img.jpg", alt="")
          .col-xs-12.col-xl-7
            .form-request__holder
              .form-request__title получите скидку 10%
              .form-request__subtitle при выборе акционного материала
              +form()
                +fieldset()
                  .columns
                    .col-xs-12.col-md-6.col-lg-4
                      +field-text({
                        title: 'Имя:',
                      })
                    .col-xs-12.col-md-6.col-lg-4
                      +field-text({
                        title: 'Телефон:',
                      })
                    .col-xs-12.col-md-12.col-lg-4
                      +field-text({
                        title: 'E-mail:',
                        attrs: {
                          type: 'email',
                        }
                      })
                    .col-xs-12
                      +field-checkbox([
                        {
                          title: 'Я согласен с политикой конфиденциальности.',
                          attrs: {
                              name: 'check0',
                          }
                        },
                      ])
                +field-actions()
                  +btn('получить расчёт', 'green, wide, sm', true)
  
  section.section
    h2.title Изготовим столешницу из материалов:
    .container-fluid
      .lp-materials
        .js-lp-materials-nav.lp-materials__nav
          a(href="#").active гранит
          a(href="#") мрамор
          a(href="#") агломерат
          a(href="#") кварц-керамика
        .lp-materials__body
          .lp-materials__body-item.active
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
          .lp-materials__body-item
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
          .lp-materials__body-item
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
          .lp-materials__body-item
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
            .lp-materials__item
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
      p.subtitle наш специалист поможет выбрать материал и цвет

  section.section
    h2.title Преимущества каменных столешниц
    .container-fluid
      .lp-advantage.lp-advantage--six
        .lp-advantage__item
          .lp-advantage__img
            img(src="img/advantages-stone-img-1.png", alt="")
          .lp-advantage__title
            span Износостойкие
            | на поверхности не остается царапин, сколов или потертостей
        .lp-advantage__item
          .lp-advantage__img
            img(src="img/advantages-stone-img-2.png", alt="")
          .lp-advantage__title
            span Влагостойкость
            | поверхность не вздуется и на ней не образуется плесень или грибок
        .lp-advantage__item
          .lp-advantage__img
            img(src="img/advantages-stone-img-3.png", alt="")
          .lp-advantage__title
            span Простота в обращении
            | достаточно протереть тряпкой, чтобы устранить любые последствия готовки
        .lp-advantage__item
          .lp-advantage__img
            img(src="img/advantages-stone-img-4.png", alt="")
          .lp-advantage__title
            span Экологичность
            | материал абсолютно безопасен для человека и окружающей среды
        .lp-advantage__item
          .lp-advantage__img
            img(src="img/advantages-stone-img-5.png", alt="")
          .lp-advantage__title
            span Выдерживает высокие температуры
            | можно поставить горячую сковороду или кастрюлю
        .lp-advantage__item
          .lp-advantage__img
            img(src="img/advantages-stone-img-6.png", alt="")
          .lp-advantage__title
            span Долговечность
            | столешница прослужит вам и вашей семье долгие годы, сохраняя свой первозданный вид
  
  section.section
    h2.title Примеры стоимости столешниц 
    .container
      .example-price
        .js-example-price-nav.example-price__nav
          a.active(href="#") Прямая
          a(href="#") Г-образная
          a(href="#") П-образная
        .example-price__body
          .example-price__body-item.active
            .example-price__img
              img(src="img/lp-example-price-1.png", alt="")
            .example-price__info
              h3.example-price__title Прямая кухонная столешница
              span.example-price__total 40 000
                sub руб.
              ul
                li 
                  b Размер (мм):
                  | 3000 х 600 х 20
                li 
                  b Материал:
                  | кварц-керамика Technistone ELEGANCE ECO ZEN (Чехия)
                li
                  b Обработка:
                  | кромка Е2
                li 
                  b Вырезы под мойку и варочную поверхность “Под ключ”
              p 
                b В стоимость велючены:
                br
                | камень, обработка кромкой, пристеночный бортик, вырез под мойку, замер, установка, монтаж
              a(href="#form-request-detail").btn.btn--sm.btn--wide.btn--green получить расчёт
          .example-price__body-item
            .example-price__img
              img(src="img/lp-example-price-1.png", alt="")
            .example-price__info
              h3.example-price__title Г-образная кухонная столешница
              span.example-price__total 60 000
                sub руб.
              ul
                li 
                  b Размер (мм):
                  | 3000/2000 х 600 х 20
                li 
                  b Материал:
                  | кварц-керамика Technistone NOBLE PRO FROST (Чехия)
                li
                  b Обработка:
                  | кромка Е2
                li 
                  b Вырезы под мойку и варочную поверхность “Под ключ”
              p 
                b В стоимость велючены:
                br
                | камень, обработка кромкой, пристеночный бортик, вырез под мойку, замер, установка, монтаж   
              a(href="#form-request-detail" data-scrollto).btn.btn--sm.btn--wide.btn--green получить расчёт
          .example-price__body-item
            .example-price__img
              img(src="img/lp-example-price-1.png", alt="")
            .example-price__info
              h3.example-price__title П-образная кухонная столешница
              span.example-price__total 75 000
                sub руб.
              ul
                li 
                  b Размер (мм):
                  | 2000/3000/2000 х 600 х 20
                li 
                  b Материал:
                  | кварц-керамика Technistone TAURUS TERAZZO GREY (Чехия)
                li
                  b Обработка:
                  | кромка Е2
                li 
                  b Вырезы под мойку и варочную поверхность “Под ключ”
              p 
                b В стоимость велючены:
                br
                | камень, обработка кромкой, пристеночный бортик, вырез под мойку, замер, установка, монтаж
              a(href="#form-request-detail" data-scrollto).btn.btn--sm.btn--wide.btn--green получить расчёт

  section.section
    h2.title Варианты кромок
    .container-half.container-half--narrow
      .columns
        .col-xs-4.col-lg-2
          img(src="img/edge_e2.png", alt="").h-align-center
        .col-xs-4.col-lg-2
          img(src="img/edge_e10.png", alt="").h-align-center
        .col-xs-4.col-lg-2
          img(src="img/edge_a.png", alt="").h-align-center
        .col-xs-4.col-lg-2
          img(src="img/edge_v.png", alt="").h-align-center
        .col-xs-4.col-lg-2
          img(src="img/edge_t.png", alt="").h-align-center
        .col-xs-4.col-lg-2
          img(src="img/edge_h.png", alt="").h-align-center
        .col-xs-4.col-lg-2
          img(src="img/edge_d.png", alt="").h-align-center
        .col-xs-4.col-lg-2
          img(src="img/edge_q.png", alt="").h-align-center
        .col-xs-4.col-lg-2
          img(src="img/edge_o.png", alt="").h-align-center
        .col-xs-4.col-lg-2
          img(src="img/edge_f.png", alt="").h-align-center
        .col-xs-4.col-lg-2
          img(src="img/edge_l.png", alt="").h-align-center
        .col-xs-4.col-lg-2
          img(src="img/edge_h2.png", alt="").h-align-center

  section.section
    h2.title Мойки и раковины
    .container
      .container-half
        .container-half__inner
          .columns
            .col-sm-6.col-lg-3
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
            .col-sm-6.col-lg-3
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
            .col-sm-6.col-lg-3
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })
            .col-sm-6.col-lg-3
              +card({
                img: 'https://picsum.photos/520/530',
                name: 'EMERALD PEARL EXTRA',
              })

  section.section.pt-18
    .container
      #form-request-detail.form-request
        .columns
          .col-xl-5.is-hidden-max-xl
            .form-request__img
              img(src="img/lp-form-img.jpg", alt="")
          .col-xs-12.col-xl-7
            .form-request__holder
              .form-request__title рассчитаем стоимость изделия за 15 минут
              +form()
                +fieldset()
                  .columns
                    .col-xs-12.col-md-6.col-lg-4
                      +field-text({
                        title: 'Тип столешницы:',
                      })
                    .col-xs-12.col-md-6.col-lg-4
                      +field-text({
                        title: 'Материал:',
                      })
                    .col-xs-12.col-md-6.col-lg-4.align-self-center
                      +field-file({
                        mods: '',
                        attrs: {
                          name: 'commentFile',
                          multiple: true,
                        },
                        text: {
                          nothingText: 'Загрузите документ'
                        },
                      })
                    .col-xs-12.col-md-6.col-lg-12
                      +field-text({
                        title: 'Размер изделия:',
                      })
                    .col-xs-12.col-md-6.col-lg-4
                      +field-text({
                        title: 'Имя:',
                      })
                    .col-xs-12.col-md-6.col-lg-4
                      +field-text({
                        title: 'Телефон:',
                      })
                    .col-xs-12.col-lg-4
                      +field-text({
                        title: 'E-mail:',
                        attrs: {
                          type: 'email',
                        }
                      })
                    .col-xs-12
                      +field-checkbox([
                        {
                          title: 'Я согласен с политикой конфиденциальности.',
                          attrs: {
                              name: 'check0',
                          }
                        },
                      ])
                +field-actions()
                  +btn('получить расчёт', 'green, wide, sm', true)
  section.section
    h2.title собственное производство столешниц из камня
    .container
      //- .columns
      //-   .col-sm-12.col-md-7
      //-     .columns
      //-       .col-sm-4
      //-         img(src="img/lp-about-box-1.jpg", alt="")
      //-       .col-sm-4
      //-         img(src="img/lp-about-box-2.jpg", alt="")
      //-       .col-sm-4
      //-         img(src="img/lp-about-box-3.jpg", alt="")
      //-   .col-sm-12.col-md-5
      //-     p
      //-       | &nbsp;&nbsp;&nbsp;&nbsp; ГК «Master Stone» основана в 2010 году в результате слияния нескольких компаний, специализирующихся  в области работы с натуральным и искусственным камнем. Головной офис компании находится в Санкт-Петербурге.
      //-       br
      //-       | &nbsp;&nbsp;&nbsp;&nbsp; В компании работают высококлассные специалисты с большим опытом работы. Компания имеет собственное производство, оснащенное современным высокотехнологичным оборудованием по обработке камня, конструкторский и технологический отделы, подразделение  аппаратно- цифровых замеров, монтажные, транспортные и сервисные подразделения.
      //-       br
      //-       | &nbsp;&nbsp;&nbsp;&nbsp; За истекший период, компания  выполнила большое количество проектов и приобрела отличную репутацию специалисты

      //-     p &nbsp;&nbsp;&nbsp;&nbsp; Всем бобра!
      //-     p.text-center
      //-       button.btn.btn--blue-dark.btn--sm.btn--wide Узнать больше

      .about-box
        .about-box__images
          .about-box__images-inner
            .about-box__img
              img(src="img/lp-about-box-1.jpg", alt="")
            .about-box__img
              img(src="img/lp-about-box-2.jpg", alt="")
            .about-box__img
              img(src="img/lp-about-box-3.jpg", alt="")
        .about-box__text
          p
            | &nbsp;&nbsp;&nbsp;&nbsp; ГК «Master Stone» основана в 2010 году в результате слияния нескольких компаний, специализирующихся  в области работы с натуральным и искусственным камнем. Головной офис компании находится в Санкт-Петербурге.
            br
            | &nbsp;&nbsp;&nbsp;&nbsp; В компании работают высококлассные специалисты с большим опытом работы. Компания имеет собственное производство, оснащенное современным высокотехнологичным оборудованием по обработке камня, конструкторский и технологический отделы, подразделение  аппаратно- цифровых замеров, монтажные, транспортные и сервисные подразделения.
            br
            | &nbsp;&nbsp;&nbsp;&nbsp; За истекший период, компания  выполнила большое количество проектов и приобрела отличную репутацию специалисты

          p &nbsp;&nbsp;&nbsp;&nbsp; Всем бобра!
          p.text-center
            button.btn.btn--blue-dark.btn--sm.btn--wide Узнать больше
      

  section.section
    .container-fluid
      .js-example-work.example-work
        .example-work__item
          a(data-fancybox="images" href="https://source.unsplash.com/lSXpV8bDeMA/1536x2304")
            img(src="img/example-work-1.jpg", alt="")
        .example-work__item
          a(data-fancybox="images" href="https://source.unsplash.com/lSXpV8bDeMA/1536x2304")
            img(src="img/example-work-2.jpg", alt="")
        .example-work__item
          a(data-fancybox="images" href="https://source.unsplash.com/lSXpV8bDeMA/1536x2304")
            img(src="img/example-work-3.jpg", alt="")
        .example-work__item
          a(data-fancybox="images" href="https://source.unsplash.com/lSXpV8bDeMA/1536x2304")
            img(src="img/example-work-4.jpg", alt="")
        .example-work__item
          a(data-fancybox="images" href="https://source.unsplash.com/lSXpV8bDeMA/1536x2304")
            img(src="img/example-work-5.jpg", alt="")
        .example-work__item
          a(data-fancybox="images" href="https://source.unsplash.com/lSXpV8bDeMA/1536x2304")
            img(src="img/example-work-2.jpg", alt="")
        .example-work__item
          a(data-fancybox="images" href="https://source.unsplash.com/lSXpV8bDeMA/1536x2304")
            img(src="img/example-work-4.jpg", alt="")


  section.section
    .container
      .form-request
        .columns
          .col-xl-5.is-hidden-max-xl
            .form-request__img
              img(src="img/lp-form-img.jpg", alt="")
          .col-xs-12.col-xl-7
            .form-request__holder
              .form-request__title получите скидку 10%
              .form-request__subtitle при выборе акционного материала
              +form()
                +fieldset()
                  .columns
                    .col-xs-12.col-md-6.col-lg-4
                      +field-text({
                        title: 'Имя:',
                      })
                    .col-xs-12.col-md-6.col-lg-4
                      +field-text({
                        title: 'Телефон:',
                      })
                    .col-xs-12.col-md-12.col-lg-4
                      +field-text({
                        title: 'E-mail:',
                        attrs: {
                          type: 'email',
                        }
                      })
                    .col-xs-12
                      +field-checkbox([
                        {
                          title: 'Я согласен с политикой конфиденциальности.',
                          attrs: {
                              name: 'check0',
                          }
                        },
                      ])
                +field-actions()
                  +btn('получить расчёт', 'green, wide, sm', true)

block append page-bottom
  script(src='js/landing.js')
