extends ../pug/layout.pug

block meta
  title ;)
  meta(name='description', content='')

block append head
  link(rel='stylesheet', href='css/some.css')

block nav

block content
  .container
    ul(style="padding: 40px 0;")
      li #[a(target="_blank" href="index.html") Главная]
      li #[a(target="_blank" href="materials.html") Материалы]
      li #[a(target="_blank" href="materials-category.html") Материалы / Гранит]
      li #[a(target="_blank" href="materials-detail.html") Материалы / Детальная]
      li #[a(target="_blank" href="materials-fabrics.html") Материалы / Производители]
      li #[a(target="_blank" href="products.html") Изделия]
      li #[a(target="_blank" href="products-category.html") Изделия / Кухонные столешницы]
      li #[a(target="_blank" href="products-detail.html") Изделия / Детальная]
      li #[a(target="_blank" href="about.html") О компании]
      li #[a(target="_blank" href="about-structure.html") О компании / Структура]
      li #[a(target="_blank" href="about-production.html") О компании / Производство]
      li #[a(target="_blank" href="about-jobs.html") О компании / Вакансии]
      li #[a(target="_blank" href="partners.html") Партнерам]
      li #[a(target="_blank" href="contacts.html") Контакты]
      li #[a(target="_blank" href="feedback.html") Обратная связь]
      li #[a(target="_blank" href="info-sales.html") Информация / Акции]
      li #[a(target="_blank" href="info-sales-detail.html") Информация / Акции детальная]
      li #[a(target="_blank" href="info-news.html") Информация / Новости]
      li #[a(target="_blank" href="info-news-detail.html") Информация / Новости детальная]
      li #[a(target="_blank" href="info-articles.html") Информация / Статьи]
      li #[a(target="_blank" href="info-articles-detail.html") Информация / Статьи детальная]
      li #[a(target="_blank" href="404.html") Страница не найдена 404]

//- #[a(href='blocks-demo.html') Библиотека блоков]

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
