extends ../pug/layout.pug

block meta
  title Labrador Multicolor
  meta(name='description', content='')

block append head
  link(rel='stylesheet', href='css/page-materials-detail.css')

block nav
  +main-nav('0', '', 'true')

block content
    .container
      .page__main-head
          +breadcrumbs()
              +breadcrumbs-item('Главная', 'index.html')
              +breadcrumbs-item('Материалы', 'materials.html')
              +breadcrumbs-item('Гранит', 'materials-category.html')
              +breadcrumbs-item('Labrador Multicolor')
          h1.page__title Labrador Multicolor

    +product-detail({imgTypeView: 'gallery'})
    
    .container-half
        .container-half__inner
            .container-half__main
              +product-desc()

    


//- #[a(href='blocks-demo.html') Библиотека блоков]

//- block footer
//-   p footer

block append page-bottom
block append page-bottom
  script(src='js/page-materials-detail.js')
