extends ../pug/layout.pug

block meta
  title Материалы
  meta(name='description', content='')

block append head
  link(rel='stylesheet', href='css/page-materials.css')

block nav
  +main-nav('0', '', 'true')

block content
    .container
        .page__main-head
            +breadcrumbs()
                +breadcrumbs-item('Главная', 'index.html')
                +breadcrumbs-item('Материалы')
            h1.page__title Материалы
    .container-half
        .container-half__inner
            .container-half__aside
                img(src="https://picsum.photos/460/324", alt="")
            .container-half__main
                p Основана в 2010 году в результате слияния нескольких компаний, специализирующихся в области работы с натуральным и искусственным камнем. Головной офис компании находится в Санкт-Петербурге.
                p В компании работают высококлассные специалисты с большим опытом работы. Компания имеет собственное производство, оснащенное современным высокотехнологичным оборудованием по обработке камня, конструкторский и технологический отделы, подразделение аппаратно-цифровых замеров, монтажные, транспортные и сервисные подразделения.
                p За истекший период, компания выполнила большое количество проектов и приобрела отличную репутацию, зарекомендовав себя, как производители качественных изделий и специалисты в области облицовочных и реставрационных работ с применением натурального и искусственного камня.
                p В настоящий момент, компания активно развивается и расширяет сферу своей деятельности. Используя в своей работе комплексный профессиональный подход и отличный сервис, компания является надежным партнером для всех своих клиентов.
    .container-fluid
        .columns
            .col-md-3
                +card({
                    url: 'materials-category.html',
                    img: 'https://picsum.photos/520/530',
                    name: 'Гранит',
                    desc: 'В процессе эксплуатации столешница испытываетцелую гамму специфических воздействий: механическое -  при разделке продуктов; термическое - от горячей посуды; химическое - от уксуса, острого соуса и т.д. При выборе материала для изготовления столешницы, следует учитывать все вышеперечисленные факторы. Выбор есть и он богат. Из чего выбирает будущий владелец современной кухни.'
                },'indent')
            .col-md-3
                +card({
                    url: 'materials-category.html',
                    img: 'https://picsum.photos/520/530',
                    name: 'Мрамор',
                    desc: 'В процессе эксплуатации столешница испытываетцелую гамму специфических воздействий: механическое -  при разделке продуктов; термическое - от горячей посуды; химическое - от уксуса, острого соуса и т.д. При выборе материала для изготовления столешницы, следует учитывать все вышеперечисленные факторы. Выбор есть и он богат. Из чего выбирает будущий владелец современной кухни.'
                },'indent')
            .col-md-3
                +card({
                    url: 'materials-category.html',
                    img: 'https://picsum.photos/520/530',
                    name: 'Кварцевый агломерат',
                    subname: '(искусственный камень)',
                    desc: 'В процессе эксплуатации столешница испытываетцелую гамму специфических воздействий: механическое -  при разделке продуктов; термическое - от горячей посуды; химическое - от уксуса, острого соуса и т.д. При выборе материала для изготовления столешницы, следует учитывать все вышеперечисленные факторы. Выбор есть и он богат. Из чего выбирает будущий владелец современной кухни.'
                },'indent')
            .col-md-3
                +card({
                    url: 'materials-category.html',
                    img: 'https://picsum.photos/520/530',
                    name: 'Кварц-керамика',
                    desc: 'В процессе эксплуатации столешница испытываетцелую гамму специфических воздействий: механическое -  при разделке продуктов; термическое - от горячей посуды; химическое - от уксуса, острого соуса и т.д. При выборе материала для изготовления столешницы, следует учитывать все вышеперечисленные факторы. Выбор есть и он богат. Из чего выбирает будущий владелец современной кухни.'
                },'indent')
    
    .container-half
        .container-half__inner
            .container-half__full
        p Компании-производители:
        +fabrics-logo('slider')
          +fabrics-logo-item('img/fabric-1.png')
          +fabrics-logo-item('img/fabric-2.png')
          +fabrics-logo-item('img/fabric-3.png')
          +fabrics-logo-item('img/fabric-4.png')
          +fabrics-logo-item('img/fabric-5.png')
          +fabrics-logo-item('img/fabric-6.png')
          +fabrics-logo-item('img/fabric-7.png')
          +fabrics-logo-item('img/fabric-8.png')
            

//- #[a(href='blocks-demo.html') Библиотека блоков]

//- block footer
//-   p footer

block append page-bottom
  script(src='js/page-materials.js')
