extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('0', '', 'true')

block content
    .container
        .page__main-head
            +breadcrumbs()
                +breadcrumbs-item('Главная', '/index')
                +breadcrumbs-item('Материалы', '/materials_category')
                +breadcrumbs-item('Производители')
            h1.page__title Производители
    //- +intro-cont()
    //- .container-fluid
    //-     .columns
    //-         .col-md-3
    //-             +card({
    //-                 url: 'good01',
    //-                 img: 'https://picsum.photos/520/530',
    //-                 name: 'Гранит',
    //-                 desc: 'В процессе эксплуатации столешница испытываетцелую гамму специфических воздействий: механическое -  при разделке продуктов; термическое - от горячей посуды; химическое - от уксуса, острого соуса и т.д. При выборе материала для изготовления столешницы, следует учитывать все вышеперечисленные факторы. Выбор есть и он богат. Из чего выбирает будущий владелец современной кухни.'
    //-             },'indent')
    //-         .col-md-3
    //-             +card({
    //-                 url: 'good01',
    //-                 img: 'https://picsum.photos/520/530',
    //-                 name: 'Мрамор',
    //-                 desc: 'В процессе эксплуатации столешница испытываетцелую гамму специфических воздействий: механическое -  при разделке продуктов; термическое - от горячей посуды; химическое - от уксуса, острого соуса и т.д. При выборе материала для изготовления столешницы, следует учитывать все вышеперечисленные факторы. Выбор есть и он богат. Из чего выбирает будущий владелец современной кухни.'
    //-             },'indent')
    //-         .col-md-3
    //-             +card({
    //-                 url: 'good01',
    //-                 img: 'https://picsum.photos/520/530',
    //-                 name: 'Кварцевый агломерат',
    //-                 subname: '(искусственный камень)',
    //-                 desc: 'В процессе эксплуатации столешница испытываетцелую гамму специфических воздействий: механическое -  при разделке продуктов; термическое - от горячей посуды; химическое - от уксуса, острого соуса и т.д. При выборе материала для изготовления столешницы, следует учитывать все вышеперечисленные факторы. Выбор есть и он богат. Из чего выбирает будущий владелец современной кухни.'
    //-             },'indent')
    //-         .col-md-3
    //-             +card({
    //-                 url: 'good01',
    //-                 img: 'https://picsum.photos/520/530',
    //-                 name: 'Кварц-керамика',
    //-                 desc: 'В процессе эксплуатации столешница испытываетцелую гамму специфических воздействий: механическое -  при разделке продуктов; термическое - от горячей посуды; химическое - от уксуса, острого соуса и т.д. При выборе материала для изготовления столешницы, следует учитывать все вышеперечисленные факторы. Выбор есть и он богат. Из чего выбирает будущий владелец современной кухни.'
    //-             },'indent')
    
    .container-fluid
        .columns.js-card
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'EMERALD PEARL EXTRA',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'AA 493 Allegheny Amber',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'MADAGASCAR BLUE',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'MULTICOLOR',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'BARDIGLIO IMPERIALE',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'GALLOWAY Cambria',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'EMERALD PEARL EXTRA',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'AA 493 Allegheny Amber',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'MADAGASCAR BLUE',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'MULTICOLOR',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'BARDIGLIO IMPERIALE',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'GALLOWAY Cambria',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'EMERALD PEARL EXTRA',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'AA 493 Allegheny Amber',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'MADAGASCAR BLUE',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'MULTICOLOR',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'BARDIGLIO IMPERIALE',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'GALLOWAY Cambria',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'EMERALD PEARL EXTRA',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'AA 493 Allegheny Amber',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'MADAGASCAR BLUE',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'MULTICOLOR',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'BARDIGLIO IMPERIALE',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'GALLOWAY Cambria',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'EMERALD PEARL EXTRA',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'AA 493 Allegheny Amber',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'MADAGASCAR BLUE',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'MULTICOLOR',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'BARDIGLIO IMPERIALE',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'GALLOWAY Cambria',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'EMERALD PEARL EXTRA',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'AA 493 Allegheny Amber',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'MADAGASCAR BLUE',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'MULTICOLOR',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'BARDIGLIO IMPERIALE',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'GALLOWAY Cambria',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'EMERALD PEARL EXTRA',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'AA 493 Allegheny Amber',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'MADAGASCAR BLUE',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'MULTICOLOR',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'BARDIGLIO IMPERIALE',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'GALLOWAY Cambria',
                })
            .col-md-12.col-full(style="height: 0; visibility: hidden;")
                .card-view
                    div
                        img(src="https://picsum.photos/1260/523", alt="")
                    div TEST
    +card-about

//- #[a(href='blocks-demo.html') Библиотека блоков]

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
