extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('0')

block content
    +breadcrumbs()
        +breadcrumbs-item('Главная', '/index')
        +breadcrumbs-item('Материалы')
    h1.page__title Материалы
    +intro-cont()
    .container-fluid
        .columns
            .col-md-3
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'Гранит',
                    desc: 'В процессе эксплуатации столешница испытываетцелую гамму специфических воздействий: механическое -  при разделке продуктов; термическое - от горячей посуды; химическое - от уксуса, острого соуса и т.д. При выборе материала для изготовления столешницы, следует учитывать все вышеперечисленные факторы. Выбор есть и он богат. Из чего выбирает будущий владелец современной кухни.'
                },'indent')
            .col-md-3
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'Мрамор',
                    desc: 'В процессе эксплуатации столешница испытываетцелую гамму специфических воздействий: механическое -  при разделке продуктов; термическое - от горячей посуды; химическое - от уксуса, острого соуса и т.д. При выборе материала для изготовления столешницы, следует учитывать все вышеперечисленные факторы. Выбор есть и он богат. Из чего выбирает будущий владелец современной кухни.'
                },'indent')
            .col-md-3
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'Кварцевый агломерат (искусственный камень)',
                    desc: 'В процессе эксплуатации столешница испытываетцелую гамму специфических воздействий: механическое -  при разделке продуктов; термическое - от горячей посуды; химическое - от уксуса, острого соуса и т.д. При выборе материала для изготовления столешницы, следует учитывать все вышеперечисленные факторы. Выбор есть и он богат. Из чего выбирает будущий владелец современной кухни.'
                },'indent')
            .col-md-3
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'Кварц-керамика',
                    desc: 'В процессе эксплуатации столешница испытываетцелую гамму специфических воздействий: механическое -  при разделке продуктов; термическое - от горячей посуды; химическое - от уксуса, острого соуса и т.д. При выборе материала для изготовления столешницы, следует учитывать все вышеперечисленные факторы. Выбор есть и он богат. Из чего выбирает будущий владелец современной кухни.'
                },'indent')
    
    .container-fluid
        .columns
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'EMERALD PEARL EXTRA',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'AA 493 Allegheny Amber',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'MADAGASCAR BLUE',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'MULTICOLOR',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'BARDIGLIO IMPERIALE',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'GALLOWAY Cambria',
                })
    +card-about
    .container-fluid
        .columns
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'EMERALD PEARL EXTRA',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'AA 493 Allegheny Amber',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'MADAGASCAR BLUE',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'MULTICOLOR',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'BARDIGLIO IMPERIALE',
                })
            .col-md-6.col-lg-4.col-xl-2
                +card({
                    url: 'good01',
                    img: 'https://picsum.photos/520/530',
                    name: 'GALLOWAY Cambria',
                })
//- #[a(href='blocks-demo.html') Библиотека блоков]

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
