extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('0', '', 'true')

block content
    .container
        .page__main-head
            +breadcrumbs()
                +breadcrumbs-item('Главная', '/index')
                +breadcrumbs-item('Партнерам')
            h1.page__title Партнерам

    .container-half
        .container-half__inner
            .container-half__aside
                img(src="img/post-img-1.jpg", alt="")
                img(src="img/post-img-2.jpg", alt="")
            .container-half__main
                h4 Приглашение к содрудничеству!
                
                p Компания предлагает архитекторам и дизайн-студиям выгодные условия по сотрудничеству, включающие в себя современный сервис, а также специально разработанную на взаимовыгодных условиях бизнес-модель.

                p
                    | Мы ценим наших партнеров и предлагаем полный комплекс услуг для реализации проектов
                    | из кварцевого камня на всех технологических этапах: помощь по выбору материалов, разработка необходимой документации, производство изделий из кварцевого агломерата - столешниц,
                    | подоконников, различных поверхностей, ступеней и других элементов интерьера. Мы также предлагаем нашим партнерам услугу по качественному монтажу изделий с соблюдением всех
                    | необходимых технологических норм.
                p
                    | Мы предоставляем архитекторам и студиям интерьера партнерский доступ к Личному Кабинету,
                    | в котором вы всегда сможете разместить свои проекты кварцевого агломерата высокого качества.
                p
                    | Наша продукция имеет широкую гамму цветов искусственного камня, разнообразную природную текстуру и отличные физические характеристики и свойства - все это позволяет предложить
                    | клиенту изысканный продукт высокого качества, исполненный с учетом различных дизайнерских решений. Готовые изделия обладают высокой прочностью, долговечностью и износостойкостью, что позволяет использовать их в жилых и общественных зонах, ресторанах и офисах.
                p
                    | Более подробную информацию о наших предложениях и о том, как стать нашим партнером,
                    | можно получить по телефонам: +7 (777) 777-77-77
                
                h4 Условия и преимущества совместной работы
                p
                    | Длительный срок службы. Мрамор является достаточно прочным, устойчивым к различным
                    | воздействиям. На протяжении многих лет его поверхность остается гладкой, не тускнеет.
                p
                    | Пластичность. Камень прекрасно поддается обработке, его можно шлифовать, резать,
                    | полировать. Он подходит для создания самых разнообразных изделий любой сложности.
                p
                    | Эстетичность. Итальянский мрамор представлен в широком ассортименте цветов и фактур.
                    | Текстура одного и того же вида будет отличаться.
                p
                    | Практичность. Камень можно использовать для отделки различных поверхностей внутри
                    | и снаружи помещения. Он подходит для производства мебели, декоративных элементов,
                    | скульптур, памятников. Устойчивость к перепадам температур и влаге делает этот материал
                    | востребованным. Его можно использовать для декорирования каминного портала, создания полов в ванной комнате и на кухне, столешниц, раковин. Он никогда не ста нет средой размножения грибка и других микроорганизмов.
                p
                    | Экологичность. Мрамор не содержит веществ, вредных для человеческого организма
                    | и окружающей среды. Его спокойно можно использовать для декорирования жилых помещений, детских и медицинских учреждений.
                h4 Форма заявки на участие в совместной деятельности
    
    .container-half.container-half--narrow
        .container-half__inner
            .container-half__full
                +form()
                    +fieldset()
                        +field-text({
                            title: 'Название организации:',
                        })
                        +field-text({
                            title: 'ФИО:',
                        })
                        +field-text({
                            title: 'Email:',
                        })
                        +field-text({
                            title: 'Телефон:',
                        })
                        +field-text({
                            title: 'Комментарий:',
                            isTextarea: 'true'
                        })
                        +field-actions()
                            +btn('Отправить', 'blue-dark, lg', true)


//- #[a(href='blocks-demo.html') Библиотека блоков]

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
