extends ../pug/layout.pug

block meta
  title Кухонные столешницы
  meta(name='description', content='')

block append head
  link(rel='stylesheet', href='css/page-products-category.css')

block nav
  +main-nav('0', '', 'true')

block content
    .container
        .page__main-head
            +breadcrumbs()
                +breadcrumbs-item('Главная', 'index.html')
                +breadcrumbs-item('Изделия', 'products.html')
                +breadcrumbs-item('Кухонные столешницы')
            h1.page__title Кухонные столешницы
    +products-list()
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/342',
                name: 'супер-пупер-мега-ультра мойка ',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/252',
                name: 'Ресторан «Адмирал Бенбоу»',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/612',
                name: 'барная стойка кафе «Сюси-смузи»',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/342',
                name: 'супер-пупер-мега-ультра мойка ',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/360',
                name: 'супер-пупер-мега-ультра мойка ',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/396',
                name: 'супер-пупер-мега-ультра мойка ',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/612',
                name: 'барная стойка кафе «Сюси-смузи»',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/342',
                name: 'супер-пупер-мега-ультра мойка ',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/252',
                name: 'Ресторан «Адмирал Бенбоу»',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/252',
                name: 'Ресторан «Адмирал Бенбоу»',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/612',
                name: 'барная стойка кафе «Сюси-смузи»',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/342',
                name: 'супер-пупер-мега-ультра мойка ',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/612',
                name: 'барная стойка кафе «Сюси-смузи»',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/450',
                name: 'барная стойка кафе «Сюси-смузи»',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/342',
                name: 'супер-пупер-мега-ультра мойка ',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/612',
                name: 'барная стойка кафе «Сюси-смузи»',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/252',
                name: 'Ресторан «Адмирал Бенбоу»',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/342',
                name: 'супер-пупер-мега-ультра мойка ',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/252',
                name: 'Ресторан «Адмирал Бенбоу»',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/270',
                name: 'Ресторан «Адмирал Бенбоу»',
            })
        +products-list-item()
            +card({
                url: 'products-detail',
                img: 'https://picsum.photos/460/252',
                name: 'Ресторан «Адмирал Бенбоу»',
            })

block append page-bottom
  script(src='js/page-products-category.js')
