extends ../pug/layout.pug

block meta
  title Ресторан «Адмирал Бенбоу»
  meta(name='description', content='')

block append head
  link(rel='stylesheet', href='css/page-products-detail.css')

block nav
  +main-nav('0', '', 'true')

block content
    .container
      .page__main-head
          +breadcrumbs()
              +breadcrumbs-item('Главная', 'index.html')
              +breadcrumbs-item('Изделия', 'products.html')
              +breadcrumbs-item('Кухонные столешницы', 'products-category.html')
              +breadcrumbs-item('Ресторан «Адмирал Бенбоу»')
          h1.page__title Лестиница бара «Адмирал Бенбоу»

    +product-detail({imgTypeView: 'gallery'})
      
    .container-half
      .container-half__inner
        .container-half__aside
          .buttons-wrap
            a(href="#").btn.btn--grey-dark Материал
        .container-half__main
          +product-desc()

    


//- #[a(href='blocks-demo.html') Библиотека блоков]

//- block footer
//-   p footer

block append page-bottom
  script(src='js/page-products-detail.js')