// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

    color: rgba(0, 0, 0, 0.8);

    

    &__list {
        font-size: $font-size-6;
        line-height: (17 / 12);

        &-title {
            line-height: (36 / 12);
            display: inline-block;
            text-transform: uppercase;
            text-decoration: underline;
            // margin-bottom: $layout-vertical-line-height;
        }
    }

    

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__inner {
        display: flex;
    }

    &__left {
        max-width: 534px;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__right {
        width: 100%;

        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }

    &__social {
        .social {
            
        }
    }

    &__contacts {
        font-size: 10px;
        line-height: (12 / 10);
        li {
            margin-bottom: $layout-vertical-line-height;
        }
    }

    &__links {
        font-size: $font-size-6;
        line-height: (17 / 12);

        li {
            &:nth-child(-n+3) {
                text-transform: uppercase;
                text-decoration: underline;
                line-height: 3;
            }
        }
    }

    &__button {
        align-self: center;

        .btn {
            // font-size: $font-size-6;
            // line-height: (17 / 12);
        }
    }
    

    &__copy {
        text-align: center;
        padding-top: $layout-vertical-line-height;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 9px;
            line-height: (10.8 / 9);
            color: rgba(0,0,0, .8)
        }

        li {
            padding: 2.5px;
        }
    }
}
