// В этом файле должны быть стили для БЭМ-блока post, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.post {

  $block-name:                &; // #{$block-name}__element
  padding-top: 36px;

  @media screen and (min-width: $screen-md) {
    display: flex;
  }

  &:not(:last-child) {
    margin-bottom: $layout-vertical-line-height * 5;
  }

  &__img-wrap {
    width: 620px;
    max-width: 100%;
  }

  &__img {}

  &__text {
    width: 780px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    @media screen and (max-width: $screen-md - 1) {
      padding-top: $layout-vertical-line-height;
    }
  }

  &__header {
    // margin-top: -36px;
    background-color: #d1e3ee;
    padding: 9px 20px;
    

    @media screen and (min-width: $screen-md) {
      position: absolute;
      transform: translateY(-100%);
    }

    .post__date,
    .post__title {
      color: #333;
      margin-bottom: 0;
    }

    .post__date {
      font-weight: 700;
    }
  }

  &__title {
    padding: 0;
    color: #333;
    margin-bottom: 0;
  }

  &__cont {
    padding-top: $layout-vertical-line-height;

    @media screen and (min-width: $screen-md) {
      padding-left: 20px;
    }

    .post__date,
    .post__title {
      color: #66a1c7;
      margin-bottom: $layout-vertical-line-height;
    }
  }

  &__date {
    display: block;
    font-size: $font-size-3;
    line-height: 1;
    color: #66a1c7;
  }

  &__footer {
    margin-top: auto;
    
    @media screen and (min-width: $screen-md) {
      padding-left: 20px;
    }
  }

  &__more-link {
    
  }
}
