// В этом файле должны быть стили для БЭМ-блока post, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.post {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  padding-top: 36px;
  &:not(:last-child) {
    margin-bottom: $layout-vertical-line-height * 5;
  }

  &__img-wrap {
    width: 620px;
    max-width: 100%;
  }

  &__img {}

  &__text {
    width: 780px;
    max-width: 100%;
  }

  &__header {
    margin-top: -36px;
    background-color: #d1e3ee;
    padding: 7.5px 20px;
    margin-bottom: $layout-vertical-line-height;
    .post__date,
    .post__title {
      color: #333;
      margin-bottom: 0;
    }
    .post__date {
      font-weight: bold;
    }
    // .post__date {
    //   font-size: 17px;
    //   font-weight: bold;
    //   line-height: 1;
    // }
  }

  &__title {
    // background-color: #d1e3ee;
    // padding: 7.5px 20px;
    color: #333;
    margin-bottom: 0;
  }

  &__cont {
    padding-left: 20px;

    .post__date,
    .post__title {
      color: #66a1c7;
      margin-bottom: $layout-vertical-line-height;
    }
  }

  &__date {
    display: block;
    font-size: $font-size-3;
    line-height: 1;
    // margin-bottom: $layout-vertical-line-height;
    color: #66a1c7;
  }

  &__footer {
    padding-left: 20px;
  }

  &__more-link {

  }
}
