//- Все примеси в этом файле должны начинаться c имени блока (guarantee)

mixin guarantee(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +guarantee('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' guarantee--' + modsList[i].trim();
      }
    }

  .guarantee(class=allMods)&attributes(attributes)
    .guarantee__inner
      .guarantee__item
        .guarantee__img
          img(src="img/guarantee-1.png", alt="")
        .guarantee__text
          | Материалы для работы с продуктами питания), выданный Национальным фондом санитарной защиты и подтверждающий, что продукция компании безопасна для продуктов питания, для общественного здоровья и для окружающей среды при непосредственном контакте
      .guarantee__item
        .guarantee__img
          img(src="img/guarantee-2.png", alt="")
        .guarantee__text
          | Институтом окружающей среды. Данный сертификат признает, что в составе кварцевого камня отсутствует токсичность и продукция компании безопасна для использования в помещениях для детей
      .guarantee__item
        .guarantee__img
          img(src="img/guarantee-3.png", alt="")
        .guarantee__text
          | Стандарт качества и безопасности Европейского Союза, гарантирует соответствие обязательным требованиям и нормам Европейского Союза.
      .guarantee__item
        .guarantee__img
          img(src="img/guarantee-4.png", alt="")
        .guarantee__text
          | Это серия международных стандартов менеджмента окружающей среды, разработанная и утвержденная Международной Организацией по Стандартизации. Всегда использует и предоставляет продукцию и материалы, соответствующие нормам Европейского Союза.
      .guarantee__item
        .guarantee__img
          img(src="img/guarantee-5.png", alt="")
        .guarantee__text
          | Материалы для работы с продуктами питания), выданный Национальным фондом санитарной защиты и подтверждающий, что продукция компании безопасна для продуктов питания, для общественного здоровья и для окружающей среды при контакте
      block
