// В этом файле должны быть стили для БЭМ-блока media-cont, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.media-cont {
  // max-width: 1280px;
  max-width: 1372px;
  margin: 0 auto;
  padding-left: 56px;
  padding-right: 56px;

  $block-name:                &; // #{$block-name}__element
  
  &__inner {
    // max-width: 1280px;
    // margin: 0 auto;
    // padding: 0 46px;
    // margin-left: -10px;
    // margin-right: -10px;
  }

  &__item {
    
  }

  &__item-inner {
    margin-left: -10px;
    margin-right: -10px;

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: center;
    }
  }

  &__video {
    flex: 1;
    padding: 0 10px;

    @media (max-width: $screen-lg - 1) {
      margin-bottom: ($layout-vertical-line-height * 2);
    }

    .embed-responsive {
      margin-bottom: 0;
    }
  }

  &__text {
    flex: 1;
    padding: 0 10px;
    margin: auto 0;
  }

  .slick-arrow {

    &.slick-prev {
      left: 0;
    }

    &.slick-next {
      right: 0;
    }
  }
}
