
@import "variables.scss";
@import "mixins.scss";
// @import "@fancyapps/fancybox/dist/jquery.fancybox.min.css";
// @import "simplebar/dist/simplebar.css";
@import "src/blocks/breadcrumbs/breadcrumbs.scss";
@import "src/blocks/btn/btn.scss";
@import "src/blocks/burger/burger.scss";
@import "src/blocks/card/card.scss";
@import "src/blocks/embed-responsive/embed-responsive.scss";
@import "src/blocks/field-actions/field-actions.scss";
@import "src/blocks/field-checkbox/field-checkbox.scss";
@import "src/blocks/field-text/field-text.scss";
@import "src/blocks/field-file/field-file.scss";
@import "src/blocks/form/form.scss";
@import "src/blocks/logo/logo.scss";
@import "src/blocks/main-nav/main-nav.scss";
@import "src/blocks/page/page.scss";
@import "src/blocks/page-footer/page-footer.scss";
@import "src/blocks/page-header/page-header.scss";
@import "src/blocks/pagination/pagination.scss";
@import "src/blocks/social/social.scss";

::-webkit-scrollbar { /* for Mac OS X support */
    width: 0;
}

.slick-arrow {
    font-size: 0;
    outline: none;
    background: transparent;
    border: 0;
    padding: 0;
    width: 36px;
    height: 36px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 36px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    &.slick-prev {
        background: url(../img/arrow-left.svg) no-repeat center / auto 80%;
        left: 20px;
    }
    &.slick-next {
        background: url(../img/arrow-right.svg) no-repeat center / auto 80%;
        right: 20px;
    }

    &:hover {
        opacity: 0.8;
    }
}

.h-align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttons-wrap {
    display: flex;
    margin-bottom: $layout-vertical-line-height * 2;
}