// В этом файле должны быть стили для БЭМ-блока clients, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.clients {
  overflow: hidden;

  &__inner {
    @include row();
    
  }

  &__item {
    @include col();
    @include col(md, 4);
    display: flex;
    position: relative;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      left: 10px;
      background-color: rgba(0,0,0, 0.75);
      transition: all 300ms;
    }

    &:hover {
      &::before {
        background-color: rgba(34, 58, 122, 0.75);
      }
      .clients__text::after {
        visibility: visible;
        opacity: 1;
        
      }
    }
  }

  &__img {
    max-width: 140px;
    width: 100%;
    flex-shrink: 0;

    img {
      display: block;
    }
  }

  &__text {
    position: relative;
    color: #fff;
    padding: $layout-vertical-line-height 0 $layout-vertical-line-height ($layout-vertical-line-height * 2);
    &::after {
      content: '';
      background-color: rgba(0,0,0,.75);
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
      transition: all 300ms;
    }
    span {
      display: block;
      @include pt-to-px(18, 18);
      margin-bottom: $layout-vertical-line-height;
      text-transform: uppercase;
    }
    p {
      // font-size: $font-size-5;
      @include pt-to-px(15, 18);
      margin-bottom: 0;
    }
  }
}
